[2013-03-25 09:35] nowack73 opened #9 "Problem with post dependencies and ncm-ncd --nodeps"
I am wondering why ncm-ncd (13.3) behaves unexpected when I use --nodeps.
I would like to run only one single component (e.g. accounts).
Accounts has a post dependency requiring filecopy.

If I run "ncm-ncd --configure accounts  --verbose --nodeps --autodeps=0 --debug 9" I get this:

"--nodeps" ignores the pre dependency (spma) as expected, but the post dependency causes an error.

If I look into

[2013-03-25 10:12] jrha commented on #9
I don't think this is an Aquilon issue.

[2013-03-25 10:17] #9 closed, assigned to nobody

[2013-03-25 10:22] nowack73 commented on #9
Sorry, I am not familiar with GitHub and was not aware of the multitude of ticket systems here.

[2014-02-07 16:07] jrha opened #12 "Bizzarely named sandboxes can be created"
For example...

[code]

Succeeds in creating the records of the sandbox, but then passes the `--help` to git clone and...

[code]

Which is just odd.

[code]

[2014-09-05 10:49] dzila opened #16 "possible corruption of metadata in the aquilon externals yum repo"
Trying to install aquilon a new system I get the following message:

![aquilon](https://cloud.githubusercontent.com/assets/1721178/4163661/25e6d9ce-34ea-11e4-8737-a180c1d9d465.png)

[2014-10-01 13:14] dzila commented on #16
bump

[2015-03-03 13:11] samary opened #17 "Starting procedure discrepency"
There are 2 differents described way to start with aquilon : the README file of the github repo and the quattor website.

Which one is the correct to follow (I guess the website one) ?

I think we should just point the README to the official website documentation

[2015-03-03 15:47] jrha opened #18 "Granular Permissions"
As discussed at the Grenoble workshop we would like a way to associate "users/principals" with hosts and other objects and use that information to restrict permission for `aq manage` and `aq make` for hosts.

It should also allow for super-users to `make` and `manage` any host.

This could be extended to personalities and features later.

[2015-03-03 16:55] dzila opened #19 "SHA1 checksum mismatch for aquilon-protocols-1.10"
Hi,

yum installation of aquilon using `yum -y install aquilon-postgresql` fails with:

`http://yum.quattor.org/aquilon/aquilon-protocols-1.10-1.noarch.rpm: [Errno -1] Package does not match intended download. Suggestion: run yum --enablerepo=aquilon clean metadata
Trying other mirror.
Error Downloading Packages:
  aquilon-protocols-1.10-1.noarch: failure: aquilon-protocols-1.10-1.noarch.rpm from

[2015-03-04 15:17] jrha commented on #19
Hmm, so why did the checksum change?

[2015-03-05 02:36] dzila commented on #19
I do not know. I have installed the rpm manually meanwhile and then yum proceeded happily.

[2015-03-05 10:03] guillaume-philippon opened #20 "Error when installing aquilon 1.11.24_rc1-1.noarch"
Hi,

After installing aquilon-protocol by the hand (issue #16 ), when I try to install aquilon I ve got the following error [1].

Regards;

[1]
  Installing : aquilon-1.11.24_rc1-1.noarch                                                                                                                                                                                             72/74

Unhandled Error
T

[2015-03-05 10:06] gombasg commented on #17
The two describe different things. The Quattor website talks about installing Aquilon from RPMs, while the README talks about what do you need to get it running from the source. So both are valid.

[2015-03-05 10:12] jrha commented on #17
Maybe we should make that clearer and refer each to the other.

[2015-03-05 10:17] guillaume-philippon opened #21 "git dependency missing on aquilon"
Following documentation, aquilon user need git-shell shell but git is not installed as dependency of aquilon.

Regards,

[2015-03-05 10:19] jrha commented on #21
Of the RPM I assume?

[2015-03-05 10:19] guillaume-philippon commented on #21
you assume well

[2015-03-05 10:37] dzila commented on #19
Ok this is actually a duplicate of an issue I opened in the last workshop https://github.com/quattor/aquilon/issues/16

[2015-03-05 10:55] jrha commented on #19
ok, closing this one then

[2015-03-05 10:55] #19 closed, assigned to nobody

[2015-04-01 19:01] JulienNauroy opened #22 "Problem with the yum repository?"
Hi,

I'm trying to install Aquilon using "yum -y install aquilon-postgresql" as stated here; http://www.quattor.org/documentation/2012/10/31/install-aquilon.html

Unfortunately, The download of http://yum.quattor.org/aquilon/aquilon-protocols-1.10-1.noarch.rpm fails with the following error : [Errno -1] Package does not match intended download

I've tried cleaning yum's cache but without success.

[2015-04-02 08:42] jrha commented on #22
Yes, there is a problem with the way the package is generated, the version number is unfortunately hard-coded and a later version of the RPM overwrote an older one.

It's on my to-do list to fix.

[2015-04-10 13:50] JulienNauroy commented on #22
I've just realized it's a duplicate of #16
Closing my ticket.

[2015-04-10 13:50] #22 closed, assigned to nobody

[2015-04-10 13:52] JulienNauroy commented on #20
I'm stuck at the same point. Did you find a workaround?

[2015-04-13 09:44] samary commented on #20
I think you need to install this rpm : python-twisted-web

[2015-04-15 15:11] JulienNauroy commented on #20
I confirm the error disappears after installing python-twisted-web (on a fresh install).

[2015-04-16 13:42] JulienNauroy opened #23 "aqd not starting because of missing directory"
When starting aqd for the first time, it complains because it cannot write to /var/log/aquilon/aqd.log :

[code]

the folder should be created upon installation and writable by the "aquilon" user.

[2015-04-16 13:43] stdweird commented on #23
or be dealt with by quattor, eg https://github.com/stdweird/quattor-SCDB-ugent/blob/master/cfg/non-grid/hpc/common/aquilon/config.pan

[2015-04-16 14:51] JulienNauroy commented on #23
Thanks for showing me the Quattor configuration file, I didn't know there was one.
But if you don't install Aquilon through Quattor, you still have to create the directory manually and give it proper rights.

[2015-04-17 09:55] JulienNauroy opened #24 "aquilon and aquilon-protocols compiled for different versions of Python"
I'm opening a different ticket since the problem is not the same.

Upon starting aqd, I now have the following error message:

[code]

I've found aqdsystems_pb2.py, but in /usr/local/lib/python2.7/dist-packages and not in python2.6.

Is there a problem related to python versions between aquilon modules? Is there a workarount?

[2015-04-17 10:54] jrha commented on #23
Indeed, the RPM should create it.
Thanks for documenting these issues, the RPM doesn't get tested very often!

[2015-04-17 10:57] jrha commented on #24
Did you install the protocols from the RPM, because I think that puts them in the correct location for the system the RPM was built on.

AFAIK installing the protocols from the GitHub repo should put them in the correct place.

[2015-04-17 10:58] jrha commented on #24
On our broker that module is in `/usr/local/lib/aquilon/protocols/lib/python/aqdsystems_pb2.py`

[2015-04-17 11:33] samary commented on #24
There is a problem with the python version of aquilon RPMs:
- `aquilon-protocols-1.10-1.noarch.rpm` is built against python2.7
- `aquilon-1.11.24_rc1-1.noarch.rpm` is built against python2.6

I had to recompile the aquilon-protocols rpm to match the correct python version (2.6 for CentOS 6) :
- yum install protobuf-compiler rpmdevtools
- git clone https://github.com/quattor/aquilon-protocols
- cd

[2015-04-17 12:04] samary commented on #20
IMHO, this should be handled by RPM dependencies.

[2015-04-17 12:40] jrha commented on #20
Indeed it should.

[2015-04-18 07:16] JulienNauroy commented on #24
Samary's trick works fine, here are the next errors I've met and their solutions:
-  `aquilon.exceptions_.ProtocolError: Protocol aqdsystems_pb2: No module named google.protobuf` => yum install protobuf-python (must be added as a dependency)
- `IOError: [Errno 2] No such file or directory: '/var/run/aquilon/aqd.pid'` => create the directory (must be done by the RPM)
- `IOError: [Errno 2] No such f

[2015-04-18 12:24] samary commented on #24
For KNC, you'll need the 'knc' rpm (`yum install knc`)
Then, in your `aqd.conf` add in the [kerberos] section :
`knc = /usr/local/bin/knc`
`klist = /usr/bin/klist`

Hope it helps

Cheers

[2015-04-22 09:16] JulienNauroy commented on #24
Thanks, it helped a lot, changing `aqd.conf` dit the job (knc was already installed as a dependency of one of the RPMs).

[2015-05-01 20:22] JulienNauroy opened #25 "Can't make aqd work properly"
Hi,
I can't find a way to make aqd work properly after running the tutorial and trying to debug here and there. Here are the symptoms:
1. When running aqd, here's what I get in the log:

[code]

I don't like the CWD value and 'not a git repository' error
1. When running aq, here's what I get:

[code]

Do you know where I've made a mistake in the configuration ?

[2015-05-05 14:37] jrha commented on #25
The second error usually means you don't have a kerberos token for yourself (check with `klist`).
If you've got kerberos set up correctly a simple `kinit` should get you a token.

You can also try `aq.py status --noauth` to check the broker is responding.

[2015-05-11 09:53] JulienNauroy commented on #25
`aq.py status --noauth` gives me the following error:

[code]

You're right about the kerberos token. I'll see how to install a kerberos server.

Do you have an idea about the problem with `git describe`? I imagine it's a very simple problem, I've set up the `git_templates_url` in `aqd.conf` to multiple values with no result so far.

[2015-05-11 10:00] jrha commented on #25
You shouldn't have to change `git_templates_url`.
Have you created and initialised the bare git repository in `/var/quattor/template-king/`?

[2015-05-11 10:03] jrha commented on #25
Oh, actually the error you are seeing is the broker trying to find out what version it is, it does this by running `git describe` in the directory it is installed in. It seems to assume it was installed from source.

You could just do `git init` in the install directory, but that seems hackish.

@stdweird, what did you guys do to trick it?

[2015-05-11 10:07] stdweird commented on #25
@jrha http://www.quattor.org/documentation/2012/10/31/install-aquilon.html is what @piojo did, and it has a `git init --bare`

[2015-05-11 10:14] JulienNauroy commented on #25
Yes this is the tutorial I followed and I ran `git init --bare`.
Am I the only one running Aquilon from the RPMs?

[2015-05-11 10:49] jrha commented on #25
Setting the broker version in the configuration file should fix this...

[code]

See `cache_version()` in https://github.com/quattor/aquilon/blob/6c8b90b47b19a41d974a41050e6de9e9ad850ae0/lib/python2.6/aquilon/worker/processes.py#L276.

It's assuming that the aquilon python files are in a git repository and trying to get the version from there, we should probably figure out a better way of doing th

[2015-05-11 12:13] JulienNauroy commented on #25
Thanks, it works now. So this had nothing to do with the templates Git repository.
Do you want me to create a separate issue for this specific problem so that it can be fixed in the RPM?

[2015-05-11 12:17] jrha commented on #25
Yes please, I'll forget about it otherwise!

[2015-05-11 12:27] JulienNauroy commented on #25
OK thanks for the help. I'll see what I can do with the Kerberos server. In the meantime, I'm closing this issue since it's become irrelevant.

[2015-05-11 12:27] #25 closed, assigned to nobody

[2015-05-11 12:27] JulienNauroy opened #26 "aqd can't determine broker version from the RPMs"
One would have to add the following in aqd.conf:

[code]

It's related to the following method: https://github.com/quattor/aquilon/blob/6c8b90b47b19a41d974a41050e6de9e9ad850ae0/lib/python2.6/aquilon/worker/processes.py#L276

For more information, check issue #25

[2015-05-11 12:33] jrha commented on #26
Three approaches come to mind:
1. Modify the default config file at build time to contain the current version number.
2. Write the version number to a file (`/etc/aqd-release`?) shipped by the RPM and get aquilon to check that file.
3. Extend the logic in `cache_version()` to check for installed RPMs.

[2015-08-12 09:04] apdibbo opened #27 "Feature Request - Add disk to model"
It would be very useful to be able to add additional disks to a model rather than having to do it individually at the machine level with aq add_disk

[2015-08-12 10:32] jrha commented on #27
You can do this in the pan template for the model.

[2015-09-29 09:25] jrha opened #28 "Document use of Active Directory as a kerberos service"
As discussed at workshop, LAL use Active Directory so it would be useful if the experience and setup was written down for others to reference.

[2015-09-29 09:29] jrha opened #29 "Document kerberos infrastructure options"
- Active Directory
- Locally administered KDC
- FreeIPA

[2015-09-29 15:21] dzila commented on #16
bump

[2015-09-30 10:14] kwaegema opened #31 "README files still applicable?"
Is the README file of the repo still of value?
There is also a README.dev in the etc folder, with instructions to install a dev broker, but the link is broken

[2015-09-30 12:54] jrha commented on #16
repodata rebuilt and resigned today, the repository will be restructured soon though

[2015-09-30 13:39] dzila commented on #16
Hi,

Problem is still there. I think repodata was not rebuilt at this particular folder as the files there are dated from March 2015: http://yum.quattor.org/externals/noarch/el6/repodata/

[2015-09-30 15:08] dzila commented on #23
Confirmed issue still present. Perhaps we could document it until it gets fixed.

[2015-10-01 08:40] dzila commented on #16
As discussed with James, the problem is in fact in the aquilon externals repo, not aquilon. I have fixed the title.

[2015-10-01 14:20] samary opened #32 "Invalid option for knc"
When running : `aq.py status`
I've got this error

[code]

[2015-10-01 14:36] jrha commented on #32
You had knc 1.6.1, your version of the broker required knc 1.7.1.

[2015-10-01 14:36] #32 closed, assigned to gombasg

[2015-10-05 05:30] stdweird commented on #32
@jrha this requirement is addressed in the dependencies?

[2015-10-07 10:09] jrha commented on #32
It will be when #30 is merged.

[2015-10-14 11:05] samary opened #33 "Knc issue"
Hi,

I still have an issue while setting up aquilon :

[code]

Error log :

[code]

I added the aqd service in freeIPA and I think everythink is setup :

[code]

I'm stuck, so if someone could help, that would be great !

[2015-10-14 13:49] jrha commented on #33
What version of knc is installed?

[2015-10-14 13:50] jrha commented on #33
Also, is your broker config pointing knc at your keytab?

[2015-10-14 14:18] samary commented on #33
It is `knc-1.7.1-1.x86_64` (the one you provided at the workshop)

And yes :

[code]

[2015-10-14 15:19] jrha commented on #33
Ok, try:

[code]

[2015-10-14 18:22] samary commented on #33
I did it. If I put something else, I got another error. Is there a way to test the keytab for aquilon ?

[2015-10-16 08:57] samary commented on #23
Same issue with `/var/run/aquilon` and owned by `aquilon` user.
The problem with this one is this directory is deleted on reboot (/var/run is tmpfs on EL7).
I don't know how to bypass this issue.

[2015-10-16 11:28] samary commented on #33
Up ?

[2015-10-16 13:10] jrha commented on #33
Sorry, I don't understand.
Did exporting `AQSERVICE` work?

[2015-10-16 13:11] jrha commented on #23
In that case the broker should create it... @gombasg?

[2015-10-16 14:07] samary commented on #33
Nope, I was already exporting this. But still not working.

[2015-10-16 14:53] jrha commented on #33
Ooh, hang on, you're running the client as root?
You should be using a different (non-privileged) user which has it's own kerberos credentials acquired with kinit.

[2015-10-16 14:55] jrha commented on #33
I assume that `aq.py status --noauth` works fine...

[2015-10-16 14:56] samary commented on #33
Yes it works with `--noauth`

[code]

[2015-10-16 15:00] jrha commented on #33
Ok, use FreeIPA to create a new user and give it a password, then try from there.

[2015-10-19 12:34] samary commented on #33
Hi, I tried, same issue, another idea ?

[code]

[2015-10-20 14:54] jrha commented on #33
Nope, looks largely like it is working, at least the kerberos part of it...

[2015-10-20 14:57] jrha commented on #33
Maybe this is something else propagating through...
Edit `/etc/aqd.conf` and try setting:

[code]

[2015-10-21 08:51] samary commented on #33
It doesn't work either.

But I found something interesting.

If I launch aquilon daemon as root :

[code]

Then it seems to work :

[code]

This might be related to the `aquilon` user permissions/properties ?

[2015-10-21 12:07] jrha commented on #33
Certainly seems that way, is there nothing useful in `/var/log/aqd.log`?

[2016-03-24 09:24] jrha commented on #33
Sat down with @samary at the 21st workshop, the permissions on the keytab wouldn't let the aquilon user read it (which is who knc starts as), chowning it to the aquilon group and adding group read permissions fixed the issue.

[2016-03-24 09:24] #33 closed, assigned to nobody

[2016-05-31 14:59] msmark opened #34 "Rock solid test deployments and back-outs"
This issue is based on a new feature request I raised in email on the quattor-discuss mailing list last week.  It touches many different components, e.g. Aquilon, cdp-listend, ncm-cdispd, ncm-ncd, CAF and lots of NCM components.  However, I am creating this umbrella issue to describe the high-level request from which sub-issues may be readily created.

The ultimate goal is: we need **rock solid te

[2016-05-31 17:17] msmark commented on #34
Further to this, and in response to the inevitable question "can't we just reapply the old host profile in order to rollback a change?", let me simplify the problem definition by drawing focus on a single NCM component, but bear in mind that we will be able to apply this easily across multiple components.

A component has CIs that are in scope, and there will be lots more out of scope.  By in scop

[2016-06-02 13:19] stdweird commented on #34
@msmark thanks for detailed explanation. i feel a bit relunctant to start typing  comments in here :smile:

can you open an issue in ncm-cdispd/ncm-ncd or CCM wrt the test profile part? (if possible clarify the following: does the test profile have some (meta)data in the profile itself to mark it as testonly (in the sense that you would need to compile a different one to use it in production?) if

[2016-06-02 13:33] msmark commented on #34
The test profile part is tied in with the grander design.  Once test profiles have been dispatched, the end user expects to be able to easily browse the full list of files that would have been changed (with the changed content if verbose output is requested) and the full list of commands that would have been executed on any number of hosts as a result of deploying a sandbox to a domain.  This requ

[2016-06-02 13:55] stdweird commented on #34
@msmark you could already have test profiles that can only trigger `--noaction` without anything else implemented. once the rest of the proposed framework is in place we can have it run with `--noaction` and record the tasks etc etc. i consider those 2 separated. inparticular, they way the tasks are created and how the recording and play functionality work could also be seen separate from test pro

[2016-06-02 14:02] msmark commented on #34
I see what you mean.  Yes, the test profile idea will run components with `--noaction` and representation of the tasks that would have been performed needs to be reported back.  Yes I agree that it could be separated because, although the current output format is inconsistent, it would be something, and once we'd got around to changing the components to use a more consistent format that could be s

[2016-06-02 14:08] msmark commented on #34
However, that said, even the test profile has Aquilon components to it.  For example, being able to atomically deploy and compile in a single step, and get back the results.  Of points 3, 4 and 7 in the issue description, only point 4 relates to CCM.

So I could create one Aquilon issue covering points 3, 4 and 7 so that we could discuss the larger implications of supporting test profiles first?

[2016-06-02 14:39] stdweird commented on #34
@msmark yes, try to factor out the aquilon specific bits. similarly, you seem to want to communicate with the host via `ncm-cdispd`. you should also open an issue for that in `ncm-cdispd` to keep track of what kind of communication we should support (currently, it is almost nothing :smile: )

to further simplify the whole picture, i would even consider separating the remote part from the local par

[2016-06-02 14:51] msmark commented on #34
@stdweird I don't _want_ to communicate with the host in any particular way, it's probably my lack of understanding as to what communication goes on today and exactly where in the stack it happens.  So if there is a more logical place for it, please let me know where it is.  At the moment, I am guessing :smile:

Separating the remote and local parts also seems like a reasonable approach.  You're q

[2016-07-06 15:17] msmark commented on #34
@stdweird looking into this a bit further today, I don't think we need any changes to `ccm-fetch` or to the data transferred on-the-wire.  Aquilon will maintain test profiles in a different location and they will therefore be accessible via a different URL.  Today we run `ccm-fetch` via cron every 60 seconds to fetch from a URL to a local cache directory.  We could have a second cron job that ran

[2016-07-08 14:59] msmark commented on #34
@stdweird Ah, my mistake, `ccm-fetch` is run once an hour.  It is actually `cdp-listend` that receives the CDP notification that launches `ccm-fetch` when a new profile has been generated for the host.

In which case, I think `cdp-listend` will need to differentiate between live vs. test profiles via the notification type and launch `ccm-fetch` with a new option if it is a test profile to tell it

[2016-07-08 15:04] stdweird commented on #34
sending the results can be handled by ncm-ncd, esp if you implement https://github.com/quattor/ncm-ncd/issues/49

[2016-07-08 15:08] msmark commented on #34
@stdweird Thanks, nice suggestion.

Btw, as this touches various areas I need a name to refer to the whole piece.  Unless there is an objection, I'd like to adopt the name Project Igneous to refer to this whole lofty goal of "Rock solid test deployments and back-outs".  It means when I raise issues in various places and refer them each back to this issue, I can do so in a concise manner.

[2016-07-08 15:10] stdweird commented on #34
@msmark or paste the url of this issue in any comment (or the description), and all this github issue will show all issues and/or PR that reference it.

[2016-07-08 15:18] jouvin commented on #34
I agree with @stdweird that this is probably a better way to reference the discussion in a useful way...

[2016-10-05 10:05] jrha opened #35 "Atomic Deploy: Add compile option to deploy"
While discussing #34 at the workshop, we agreed that adding support for `aq deploy` to both deploy and compile a change while holding locks would be a good idea.

[2016-10-06 13:18] samary opened #38 "Autocompletion of datawarehouse values not working outside MS"
When using autocompletion of some values (eg. aq add_cluster --cluster [TAB]): it complains about not finding sqlite3 :
`-bash: /ms/dist/fsf/PROJ/sqlite/3.8.2-1/bin/sqlite3: No such file or directory`
It is hardcoded in the autocompletion template (https://github.com/quattor/aquilon/blob/upstream/etc/templates/bash.tmpl#L22).
We should disable this completion if the DB is not found.

[2016-12-06 10:49] bmcann opened #39 "Path '/hardware/template_name' is not validate valid when binding HW features to models."
Hi Folks,

I am currently configuring all examples of a particular model in our DC to use 4 network links bonded via LACP. The approach I decided to take was to create a hardware feature and bind it to the model in question. So far, so good.

However, when I compile the profile, the compiler fails with an evaluation error:

When I add the key `/hardware/template_name` and a value for it to the mac

[2016-12-06 11:18] bmcann opened #40 "Unexpected template path when binding hardware feature to a model."
Hi Folks,

So I have a `feature` of type `hardware` in aquilon called `network/bonding-mode4`. I expect the associated template file to be: `~/$sandbox> $archetype/features/hardware/network/bonding-mode4/config.pan`.

However, when I bind the feature to a given model, the include statement created in the pre_feature template does not appear to have the correct path:
[code]
I would expect line 4 to

[2016-12-06 13:43] stdweird commented on #38
We used to have the following `/etc/profile.d/aqd.sh` to setup he  aquilon tabcompleiton and some other stuff.
the relevant section starts after the ` Keep these last` part
requires psql working, so use eg krb based read access or somethign even more primitive.
some of the qureis might be sped up by views.
[aqd.sh.txt](https://github.com/quattor/aquilon/files/633979/aqd.sh.txt)

[2017-02-27 17:41] jrha opened #42 "IPv6 networks and addresses cannot be configured"
In particular `add_network` will not accept anything other than an IPv4 address.

[2017-03-21 10:41] gombasg commented on #39
The handling of hardware features was reworked in version 1.12.23, the broker no longer generates such template code.

[2017-03-21 10:41] #39 closed, assigned to nobody

[2017-03-21 10:43] jrha commented on #39
Does this mean the schema needs updating?

[2017-03-21 10:45] gombasg commented on #40
That was due to our template code using non-standard naming convention for hardware features. The current version of the broker uses `if_exists()` to support both the legacy and the standard naming.

[2017-03-21 10:45] #40 closed, assigned to nobody

[2017-03-21 13:46] jrha commented on #42
@gombasg reported at March 2017 workshop that he has code that allows IPv6 networks and DNS entries to be created.

[2017-03-22 09:44] jrha commented on #38
Discussed at March 2017 workshop, @gombasg pointed out that the code could do with serious modernisation anywa,y, so contributions would be welcome.

[2017-03-22 09:45] ned21 commented on #35
One of the issues here is that for large sites, the compiles can take a over 5 minutes during which no one can make any changes to the DB. Needs further thought/design as to how to make this workable.

[2017-03-22 09:49] ned21 commented on #31
Is this fixed by #36?

[2017-03-22 09:55] ned21 commented on #27
Our experience is that defining defaults at the model level is painful because a "model" is not consistent. e.g. vendors can tweak the CPU supplied, or the hardware team can choose to buy different SKUs within a single model.

Our approach has been to remove all defaults from models and script the addition of machines based on a "recipe" which can be customised by what is bought "this month".

@jr

[2017-03-22 09:55] #27 closed, assigned to nobody

[2017-03-22 09:59] ned21 commented on #26
@gombasg  notes that the code should set the version to "unknown" if it cannot determine a version, so there may be a simple bug in this code path that can be fixed.

[2017-03-22 10:00] jrha commented on #28
To clarify: I should contribute the recipe for how to extract the necessary keytabs and configuration from your local AD administrators.

[2017-03-22 10:00] ned21 commented on #24
This should be fixed by https://github.com/quattor/release/pull/275. Please re-open if still an issue.

[2017-03-22 10:00] #24 closed, assigned to nobody

[2017-03-22 10:02] jrha commented on #23
@gombasg points out that the init script (or systemd) should create the /var/run directory.

[2017-03-22 10:02] jouvin commented on #23
March 17 workshop: @gombasg suggests that `/var/run/aquilon` should be created by init script.

[2017-03-22 10:12] jouvin commented on #18
March 17 workshop: MS working on it, will come at some point in the future... Exact amount of work involved not yet clear, depends on the approach chosen.

[2017-03-22 10:14] jrha commented on #18
Proposal is to pass a combination of GRN, User, Object and Ticket ID (if enabled) to a external access control mechanism.

[2017-03-22 10:15] jouvin commented on #17
Related to #31.

[2017-03-22 10:16] jrha commented on #16
No longer applicable.

[2017-03-22 10:16] #16 closed, assigned to jrha

[2017-03-22 10:18] jouvin commented on #12
March 17 workshop: agreement it should be fixed, MS has a related internal issue and will fix it.

[2017-03-22 10:18] jrha commented on #12
@gombasg reports that it may well be fixed already, but will confirm.

[2017-03-22 10:20] jrha opened #43 "Packages for EL7 should provide systemd unit files"
Rather than a System-V style init script.

In the meantime the init script is unusable with EL7 because it doesn't have the proper `chkconfig` support and is thus ignored by the `chkconfig` wrapper on EL7. Lines to add are something like:
[code]

[2017-03-22 10:24] jouvin opened #44 "Python3 readiness"
Issue opened to track progress and know issues regarding Python 3 readiness

[2017-03-22 10:25] jouvin commented on #44
March 17 workshop: according to @gombasg, client should be able to run with Python 3 but quite some work required for the broker.

[2017-03-22 11:13] ned21 commented on #29
Information on FreeIPA is available on [quattor.org](http://www.quattor.org/documentation/2015/09/30/freeipa-kerberos-quickstart.html)

[2017-03-22 13:32] samary opened #45 "RPM requirements"
When installing aquilon-postgresql, this triggers a lot of 'unneeded' dependencies :

[code]

[2017-03-22 13:34] samary opened #46 "aquilon-postgresql rpm dependency"
The `aquilon-postgresql` rpm doesn't depend on `postgresql` as it should.

[2017-03-22 13:38] samary opened #47 "aquilon rpm installation throws an error"
On the rpm installation of the `aquilon` rpm, the following error is thrown:
[code]

[2017-03-22 13:39] stdweird commented on #45
why do you think they are unneeded?

[2017-03-22 13:45] stdweird commented on #47
`python-twisted-web` should be separate dependency in the setup.py or setup.cfg

[2017-03-22 13:46] stdweird commented on #46
is this really needed? i.e. can't it be a regular client of postgres, or does the postgresql has to run on the same host?

[2017-03-22 13:46] samary opened #48 "aquilon twisted-web dependency"
The `aquilon` rpm should depend on `python-twisted-web` (#20 and #47)

[2017-03-22 13:47] samary commented on #45
Do we need texlive and sip to run Aquilon ?

[2017-03-22 14:35] jouvin opened #49 "aqd.conf.defaults should not contain anything specific to MS"
[`adq.conf.defaults`](https://github.com/quattor/aquilon/blob/upstream/etc/aqd.conf.defaults) provided in the source is opened by `aqd` in addition to the system `aqd.conf` to avoid having to write a full `aqd.conf`. But currently this file contains a lot of options with MS-specific values that prevent `aqd` to run successfully outside MS. This file should really be site-agnostic and MS-specific d

[2017-03-22 15:24] jrha opened #50 "Aquilon tests require a version of git newer than provided in EL7"
I've started getting the unit tests to run on a stock(-ish) EL7 host, the first big failure is requiring `--no-patch` which appears to have been introduced in `1.8.4` (EL7 ships `1.8.3.1` 😞), however the release notes indicate that it was added as a synonym for existing functionality...

now has a natural synonym "git show --no-patch".

So switching this to `-s` should allow the stock git to work

[2017-03-22 15:32] jouvin opened #51 "systemd support"
`aqd` service should be released with a `systemd` integration script to replace the current `initd` script that doesn't support `chkconfig --add`.

[2017-03-22 15:32] jrha commented on #50
Replacing `--no-patch` with `-s` does indeed allow the tests to pass.

[2017-03-22 15:33] stdweird commented on #51
is `systemctl enable aqd.service` supported?

[2017-03-22 15:34] jrha commented on #51
Duplicate of #43.

[2017-03-22 15:34] #51 closed, assigned to nobody

[2017-03-22 16:30] jouvin opened #52 "Failure to create a domain left the Git branch created"
If `aq add_domain` fails after the corresponding Git branch is created, it is left in the repository making creating the domain impossible until the branch has been removed manually. Aquilon should remove the created branch in such a case.

[2017-03-22 16:59] jrha commented on #45
Yes and no, they are dependencies of ipython, which is used to provide a CLI wrapper to AQDB.

[2017-03-22 17:01] jrha commented on #46
The idea of the `aquilon-postgresql` was to enable an easier install on one host, if you don't want that then just install `aquilon` and configure it yourself.

[2017-03-22 17:22] jouvin opened #53 "build_db.py creates a prod domain without creating the Git branch"
`build_db.py` initializes the Aquilon database with a `prod` domain whose content matches what is expected for running unit tests. But if unit tests are not run, the corresponding Git branch is not created in the `template_king` repository and `aq add_domain --domain prod` cannot create it as the domain already exists in the database. The only workaround is to create the branch manually in the Git

[2017-03-22 18:18] jouvin opened #54 "Aquilon object names are not allowed to start with a digit"
Object names like rooms, buildings... are not allowed to start with a digit. Is there a good reason for this restriction? A typical naming of rooms at our site is like `206-1-001` meaning the room 001 on the first floor of building 206. It would good if we could enter this "standard" name rather than rewrite it for Aquilon.

[2017-03-22 18:27] jrha commented on #54
Normally because they are used as dict keys and they also cannot start with a digit.
You can always prefix them with 'room' or `_`

[2017-03-22 18:59] ned21 commented on #45
Can we make the aqshell wrapper optional to avoid the ipython dependency?

[2017-03-23 08:30] jrha commented on #45
We could probably package it seperately (or not at all).

[2017-03-23 15:28] ned21 opened #55 "Experiment with building and running aqd in Docker"
Being able to ship aqd with its dependencies in a Docker container may be easier than making rpms for all the dependencies.

One challenge to overcome would be how to make the client available to users - that would probably still need to be an rpm.

[2017-03-23 15:32] stdweird commented on #55
@ned21 i can understand that it might be easier to start or try out, but if we can't figure out how to package aquilon with rpms, i'm probably not going to touch it unless there is a nice and well tested upgrade and HA guide.

[2017-03-23 15:37] ned21 commented on #55
@stdweird Agree you wouldn't want to upgrade from rpms to Docker in the near future. The plan is to try and use Docker to help us understand our dependencies better and track when we change them. We may be moving towards a Docker-like system internally so it may be easier for us to maintain and validate than rpms.

One of the first issues I've hit is the need for some things like compiled protocol

[2017-03-23 15:41] stdweird commented on #55
@ned21 i have little doubt that we can make rpms for aquilon and all its deps. we do way much more complicated stuff in quattor and some of our inhouse tools 😀

[2017-03-23 15:49] stdweird commented on #46
what does `configure it yourself` mean? a set of pan templates is much better suited to install and configure what is needed, incl rpm deps.
bootstrapping a node with quattor is not that hard either

[2017-03-23 20:09] jrha commented on #46
It means "work out how to set it up in a different way that makes you happy?" we haven't even got one setup figured out to the point that it works yet.

[2017-03-23 21:41] ned21 commented on #31
- [ ] etc/README.dev refers to internal MS stuff
- [x] need a document which describes how patches get accepted and the reason for each branch. e.g. never merge to upstream since that is reserved for the upstream authors.
- [x] Changes in #36 need to go to the correct place

[2017-03-23 21:45] jouvin opened #57 "Documentation: move all the Aquilon documentation in a single repository"
Currently, Aquilon documentation is spread between this repository (`README.md` describing the installation) and the [web site](http://www.quattor.org/documentation/2013/10/25/aquilon-site.html) (describing Aquilon DB configuration). I think that we should have on the documentation on one side, either this repo or the web site repo. I see pro and cons for both solutions:
- Pro (this repo):
  - Hav

[2017-03-24 07:48] jouvin commented on #57
Note that the answer to this question may impact #56 and https://github.com/quattor/quattor.github.com/pull/211.

[2017-03-24 10:10] jouvin opened #59 "aq show network: misaligned columns"
In `aq show network` date lines have columns misaligned with the header line, if the network name is longer than `Network`.

[2017-03-24 10:23] jouvin opened #60 "Deleting prod domain fails"
I tried to delete the `prod` domain after archiving it: This results in a strange Git error:
[code]
Attempt to create the `trash` branch (does not really make sense) triggers another error referring to missing identity configuration in Git which is also strange (as it is done and not reported for other commands):
[code]

[2017-03-27 09:26] jrha commented on #59
It would be good to use a tabulation library to render the output, I believe @msmark also demonstrated a wrapper (https://github.com/quattor/aquilon-tools/blob/master/src/bin/aqnet ?) at the Autumn workshop.

[2017-03-27 12:08] jrha commented on #59
Also `column -t` does a good job (apart from the comments column).

[code]

[2017-03-27 12:20] ned21 commented on #39
@jrha - I can check but am not sure in which repo the public schema lives?

[2017-03-27 12:21] jrha commented on #39
https://github.com/quattor/template-library-core/blob/master/quattor/types/aquilon.pan

[2017-03-27 12:22] jrha commented on #39
It looks like `template_name` was never referred to by our copy of the schema (so all is good).

[2017-03-28 10:18] ned21 commented on #57
+1 to this - I think it makes a lot of sense.

[2017-04-04 17:13] urbonegi commented on #52
There is a cleanup code that does this already:
https://github.com/quattor/aquilon/blob/upstream/lib/aquilon/worker/commands/add_domain.py#L83
However, if the branch delete (-D) actually fails, then the failed branch is left there.

Could you provide more details, for this issue noticed. Logger message specifying the Exception would be the best to be able to determine why the deletion of the branc

[2017-04-27 11:50] urbonegi commented on #52
@jouvin Could you please send the failure logs or help to clarify if the git branch delete failed on exception handling or something else did happened?
Cause as i pointed out above there is a code that handle the failure to create a domain..

[2017-05-24 09:21] #57 closed, assigned to nobody

[2017-05-25 14:15] urbonegi commented on #52
Unable to reproduce the scenario where git branch (create) succeeds but git clone or any other following commands (not that there are any) fails in normal conditions.. Added some code to artificially cause exception on git clone, however, there is an error catching and branch deleting already is in place, in case of error there.
The only things that comes to my mind are: git force delete branch fa

[2017-05-25 16:32] urbonegi commented on #52
As per discussion in private conversation with @gombasg this issue can occur if commit() fails in the broker.py invoke_render method, therefore, there is no easy fix in scope of this command. Also this is rare corner case. If this happens user should just trigger repair script:
./sbin/aqd_consistency_check.py --repair

[2017-05-25 16:32] #52 closed, assigned to nobody

[2017-05-25 16:38] urbonegi commented on #60
@jouvin
Creating a trash branch should be a part of intial quattor aquilon setup and should be added to the docs here: http://www.quattor.org/aquilon/00-install.html (in the Git Daemon Configuration section).
Not sure how you added the 'trash' branch, it would be forbidden to create the trash branch using add domain command as this name is 'reserved':
https://github.com/quattor/aquilon/blob/upstre

[2017-06-23 16:00] jouvin commented on #60
@urbonegi thanks for your answer. I have not payed enough attention to the fact that the failure may have been caused by the missing Git configuration. I'll try again and let you know if this is enough to remove the error. If you don't mind, let this is issue open but I am not sure I'll be able to do a test anytime soon. May be later in July.

[2017-06-23 16:04] jouvin commented on #54
At least this should be stated clearly in the online help text... I have the feeling that ideally it should be the internal business of Aquilon to transform the value in a valid identifier internally (like we do with escape() in templates).

[2017-06-23 16:11] stdweird commented on #54
should fix that in pan also (and also get rid of escape while we're at it 😁 ).
why can't pan dict keys start with a digit anyway? (i understand why they can't be only digits)

[2017-06-23 16:19] jouvin commented on #54
@stdweird I mentioned pan just an example of converting the user value to an internally acceptable one. I don't want to push the same approach. Let's avoid to discuss panc here (despite you are right, I think there is no more problem with a pan dict key starting with a digit). My point is only that for me a good product should not impose restriction to values meaningful for a user because of inter

[2017-06-23 16:34] stdweird commented on #54
wrt pan dict keys: https://github.com/quattor/pan/issues/156

[2017-09-29 10:33] urbonegi commented on #12
Fixed:

$ aq add sandbox --sandbox --help
Bad Request: '--help' is not a valid git branch name.

[2017-09-29 10:33] #12 closed, assigned to nobody

[2017-09-29 12:20] urbonegi commented on #31
README inconsistencies fixed by removing all the contents and adding a link to the Quattor website.

[2017-09-29 12:21] urbonegi commented on #17
README inconsistencies fixed by removing all the contents and adding a link to the Quattor website.

[2017-09-29 12:21] #17 closed, assigned to nobody

[2017-09-29 12:35] urbonegi commented on #18
Additional authorization controls added to multiple 'Change' commands (manage, make included). These trigger external utility which will not be open sourced now. However, the ChangeManagement class provides mechanism to calculate impacted environment and status of command impacted targets. Also validation method that allow/disallow action based on a response from the external utility. The Change M

[2017-09-29 12:35] #18 closed, assigned to nobody

[2017-09-29 12:37] urbonegi commented on #48
Is this fixed with latest code update? @jrha @samary

[2017-09-29 12:40] urbonegi commented on #20
Issue was created to resolve all RPM dependencies: https://github.com/quattor/aquilon/issues/48
And actually the RPM dependecies were updated, could someone check if the issue is gone now:
@samary @JulienNauroy @jrha

[2017-09-29 12:45] urbonegi commented on #21
I still do not see git here: https://github.com/quattor/aquilon/blob/upstream/setup.cfg
Assume this is not fixed? @guillaume-philippon @jrha

[2017-09-29 12:53] urbonegi commented on #23
Any plans adding this here? https://github.com/quattor/aquilon/blob/1ecf0200b8bfdf219a76eb5b8a206e97cf5c3921/etc/rc.d/init.d/aqd
Or anywhere else? @jouvin

[2017-09-29 12:58] urbonegi commented on #26
seems to be done: https://github.com/quattor/aquilon/blob/1ecf0200b8bfdf219a76eb5b8a206e97cf5c3921/lib/aquilon/worker/processes.py#L231

[2017-09-29 12:58] #26 closed, assigned to nobody

[2017-09-29 13:01] stdweird commented on #23
@urbonegi don't add logic to the init script; at somepoint it has to become a systemd unit. altough you can also do this in the unitfiles, it is better if there is a set of pan templates we can use that sets everything correctly (this is quattor afterall). and yes, you can bootstrap this 😉

[2017-09-29 13:17] urbonegi commented on #28
hey @jrha is this done and can be closed? :)

[2017-09-29 13:20] urbonegi commented on #29
@ned21 @jrha can this be closed? I found the docs around FreeIPA but not other...

[2017-09-29 13:29] urbonegi commented on #35
@ned21 @jrha  At these there is a --dryrun argument for testing? However, we do not have the compile test yet.. Any further discussions?

[2017-09-29 19:50] ned21 commented on #35
ISTR the discussion was about how to make a version of `deploy` that also ran `compile` and then potentially if `compile` failed, roll back the `deploy` automatically.  To quote from #34:

[2017-10-02 08:46] jrha commented on #28
No, but thanks for the reminder!

[2017-10-04 13:03] urbonegi commented on #47
@stdweird  If this fixed after linked PRs were merged?

[2017-10-04 15:09] urbonegi commented on #35
We discussed this with @gombasg and he suggested to use external script instead broker command for compile test. This seems to be aq_compare in aqtools, which needs to deMorganized and opensourced. Hope to take this forward soon.

[2017-10-04 15:23] urbonegi commented on #42
Lot of IPv6 support was enabled and sync to upstream during last couple of months. This is one of the main tag for this piece of work:
https://github.com/quattor/aquilon/releases/tag/1.12.40-rc1
@jrha can this be closed?

[2017-10-04 17:04] jrha commented on #42
I think so, I'll review what was pushed to upstream and close this issue if it has been addressed.

[2017-10-04 20:40] ned21 commented on #28
Also, how do you configure sssd to use Active Directory? ncm-authconfig has "freeipa" providers but no ad? Or is freeipa used for ad?

[2017-10-04 21:16] stdweird commented on #28
@ned21 ad as sssd provider is just not supported yet. i guess it "only" requires schema extension to support it (so someone should read the `sssd-ad` man page and translate the option in a type)

[2017-10-18 11:41] urbonegi commented on #60
@jouvin Have you looked at this one? You should create trash branch manually using git commands. Setting git username and email also should be done as part of Application setup. Maybe we could close it?

[2017-10-25 13:46] urbonegi commented on #53
There is a script that checks and fixes inconsistencies between DB and templates in the Git repo:
https://github.com/quattor/aquilon/blob/upstream/sbin/aqd_consistency_check.py
To ensure the build_db.py script only creates the DB but not adds data to it, you should not pass option '--populate' https://github.com/quattor/aquilon/blob/d7254a55af8a55533d21ca427eec00bcad241f94/tests/aqdb/build_db.py#L

[2017-10-25 15:23] ned21 opened #71 "Support for protobuf v3 to make it easier to work with JSON"
The strategic long-term solution is to renovate the protobuf formatter based on version 3 of the protobuf specification, which does include a canonical translation from protobuf to JSON. Ideally, the broker would only produce protobuf 3 data; all translation to human-readable format would happen on the client side.

@jrha has volunteered an intern to do the coding work if someone can provide a des

[2017-10-25 15:29] ned21 commented on #60
This is the file that needs amending: https://github.com/quattor/quattor.github.com/blob/master/_aquilon/00-install.md

[2017-10-25 15:31] jrha commented on #60
Discussed at RAL workshop: missing step from documentation, probably should be scripted, but at least documented.

[2017-10-25 15:46] ned21 commented on #54
Discussed at RAL workshop. Aquilon is doing the right thing while PAN enforces this so will keep open until quattor/pan#156 is fixed and then revisit.

[2017-10-25 15:48] jrha commented on #54
For reference, the current error message is...
`Bad Request: '42' is not a valid value for Building.`

[2017-10-25 15:54] ned21 commented on #53
This came up at the Annecy workshop. It looks like the [documentation](https://github.com/quattor/quattor.github.com/blob/master/_aquilon/00-install.md) is now correct, in that the "Git Daemon Configuration" section tells the user to create a prod branch manually.

[2017-10-25 15:54] #53 closed, assigned to nobody

[2017-10-25 15:57] jrha commented on #50
Discussed at workshop: documentation should specify minimum git version.

[2017-10-25 15:57] ned21 commented on #50
We could patch this one instance but it's probably the tip of the iceberg since we are using 2.9. The [install doc](https://github.com/quattor/quattor.github.com/blob/master/_aquilon/00-install.md) should be updated to reflect this.

[2017-10-25 17:38] stdweird commented on #50
please don't document dependency issues like this, but fix them in https://github.com/quattor/aquilon/blob/upstream/setup.cfg#L2.
or at least make a pan template so we can install this with spma.
if we have basic templates that e.g. provide the package dependencies that aren't part of the rpm, or other things like config files or directories; it is very easy to bootstrap a host for aquilon usage a

[2017-10-26 09:23] urbonegi commented on #60
https://github.com/quattor/quattor.github.com/pull/225

[2017-10-26 09:24] ned21 commented on #54
Identifiers are also used as template names so in addition to quattor/pan#156 we also need to check that PAN allows template names to start with a digit.

*Update*: confirms that a template called "42.pan" works correctly. The issue (at the moment) with using a templates called features/42.pan with aquilon is that is then incompatible with feature parameters since `/system/features/42` is not a va

[2017-10-26 09:47] urbonegi commented on #59
So the raw formater output does misalign the Network output intentionally (Network name has 0 indentation, then its details have 2 spaces indentation, building details are indented by 4 spaces, then if there would be any static routes, their personality details would be indented by 6 spaces):

[code]
Could you should an example of `wrong` alignment, cause I do not see what is wrong here. If you ar

[2017-10-26 10:09] #60 closed, assigned to urbonegi

[2017-10-26 10:11] jrha commented on #59
@urbonegi This looks like the details for a single network, the problem was when printing all networks.

[2017-10-26 10:12] urbonegi commented on #50
@stdweird  I agree - this is not something that should be documented. It should be rather added to the dependencies file. I can add the explicit requirement of git >= 1.8.4 to setup.cfg just would be good if someone could test this installer outside MS with all he recent patches that were merged in.
https://github.com/quattor/aquilon/pull/70

[2017-10-26 10:14] jrha commented on #59
Aha! @gombasg removed the tabular network list functionality in fd08fd78bc21b921be48fc93ca47fc77f13cb286 as part of the IPv6 support.

[2017-10-26 10:15] #59 closed, assigned to urbonegi

[2017-10-26 10:24] urbonegi commented on #48
https://github.com/quattor/aquilon/blob/upstream/setup.cfg#L18

[2017-10-26 10:34] urbonegi commented on #46
Aquilon broker can use postgres, oracle or sqlite as a databse backend. Moreover, database server could be on a different server.  Not using local postgres database should not prevent one from installing Aquilon broker. Btw, where is the aquilon-postgresql rpm defined? I only see this one: https://github.com/quattor/aquilon/blob/upstream/setup.cfg

[2017-10-26 10:59] ned21 opened #72 "RPM updates for py27"
_Originally opened by @ajf8 as https://github.com/quattor/release/issues/263_

The current latest el6 RPMs do not work because Aquilon now requires python 2.7. As discussed at the workshop we should probably just kill the el6 repositories and focus on el7, and update the documentation (in a separate issue).

The knc and python-twisted-runner RPMs were added during the workshop to get the current v

[2017-10-26 13:27] jrha commented on #46
Source of this package appears to have been lost, so won't fix.

[2017-10-26 13:29] ned21 commented on #46
Quattor templates are a better way to describe soft dependencies like this than a meta-rpm.

[2017-10-26 13:29] jrha commented on #48
Appears to be fixed.

[2017-10-26 13:29] #48 closed, assigned to nobody

[2017-10-26 13:34] #46 closed, assigned to nobody

[2017-10-26 13:40] ned21 commented on #31
Doc on how to contribute is: http://www.quattor.org/aquilon/00-install.html#contributing

[2017-10-26 13:41] ned21 commented on #49
There's now a working process for accepting upstream submissions so we're happy for anyone to do this and send us the PR: http://www.quattor.org/aquilon/00-install.html#contributing

[2017-10-26 13:47] jrha commented on #47
`python-twisted-web` is listed as a dependency (see #48).

[2017-10-26 13:47] #47 closed, assigned to nobody

[2017-10-26 13:52] ned21 commented on #44
Progress has been made but not there yet. Further update at next workshop.

[2017-10-26 13:57] ned21 commented on #20
Fixed by #48

[2017-10-26 13:57] #20 closed, assigned to nobody

[2017-10-26 14:09] ned21 commented on #29
Locally administered KDC is linked to from the Install Aquilon doc as http://tldp.org/HOWTO/Kerberos-Infrastructure-HOWTO/install.html.

Docs for using AD tracked in #28

[2017-10-26 14:09] #29 closed, assigned to nobody

[2017-10-26 14:12] ned21 commented on #28
@jrha will do this as part of upgrading the RAL broker to EL7

[2017-10-26 14:13] ned21 commented on #23
Should we close this in favour of #43 then? The use of the quattor template is a workaround for now?

[2017-10-26 14:13] #23 closed, assigned to nobody

[2017-10-26 14:14] ned21 commented on #43
As noted in #23 the systemd unit should create /var/run/aquilon as owned by the aquilon user.

[2017-10-26 14:20] ned21 commented on #72
@jrha  to add to externals repo

[2017-10-26 14:22] jrha commented on #72
Done.

[2017-10-26 14:22] #72 closed, assigned to nobody

[2017-10-27 10:05] urbonegi opened #73 "Create E2E Aquilon broker install scripts for RHEL7"
Test out end-to-end install of Aquilon broker for RHEL7/Fedora and/or CentOS. Create either detail step guide or automated script to deploy Aquilon broker.

[2017-10-27 10:06] stdweird commented on #73
@urbonegi we should create pan templates and bootstrap it with quattor. we can use the same tempaltes to actually manage the aquilon broker after installation too

[2017-10-27 10:20] urbonegi commented on #73
Sure - but before starting to create a template we need a set of steps that would make Aquilon broker deploy and run. I still fail to successfully deploy it E2E on RHEL7.4. Was trying yesterday reading the Installation guide in Quattor website - will continue further. If you have working more up to date guide for RHEL7?

[2017-10-27 10:35] stdweird commented on #73
no i don't. if you need help with the debugging, i can free up some time this afternoon to help out.
i think @jrha and @samary were also going to try today

[2018-04-25 09:53] ned21 commented on #44
Latest update: last time we looked there was no py3 driver for Oracle DB. We will check again.

[2018-04-25 20:00] gombasg commented on #44
Actually, the broker should run with Python 3 just fine - at least it did a year ago. cx_oracle 6.x supports Python 3, but needs newer SQLAlchemy. I tried to upgrade all the necessary components once and it worked, but I did not have time to do extensive testing.

The only blocker for Python 3 transition is in the client: the way socket.socket is wrapped depends on Python 2 standard library intern

[2018-05-11 13:12] jouvin opened #76 "notifyd should be started with the same interpreter as aqd"
`notifyd` is started by `aqd` but without specifying an explicit interpreter. As a result the default system interpreter is used (the one returned by `env python`) and this breaks the support for virtualenv. Instead `aqd` should start `notify` using its current interpreter (`sys.executable`).

[2018-05-18 20:22] jouvin opened #78 "Wrong ant_home provided in aqd.conf.noms"
In the `etc/aqd.conf.noms` default configuration file for non MS Aquilon users, `ant_home` is defined to the empty string to override the MS-specific definition in `aqd.conf.defaults`. Unfortunately this has the result of defining `ant_home` in the `java` command used by the compiler to `/` instead of `/usr/share\ant`, leading to the error `Could not find or load main class org.apache.tools.ant.la

[2018-05-20 07:23] jouvin opened #80 "1.12.58: domains directory should be created by the broker"
`domains` directory (containing the domain git repositories) is the only directory not created by the broker if it is missing. It would be good to have the broker creating it as it is the case for `cfg`, `templates`...

[2018-05-21 09:47] #45 closed, assigned to urbonegi

[2018-05-21 09:48] #50 closed, assigned to urbonegi

[2018-05-21 09:48] #21 closed, assigned to urbonegi

[2018-05-21 09:49] #49 closed, assigned to nobody

[2018-05-21 09:50] #31 closed, assigned to gombasg

[2018-05-21 09:56] urbonegi commented on #42
This is one bug discovered by @jouvin which is constrain in network model that includes extra 'case' statement for ipv6. This needs to be moved to validate method for network model rather than be in DB constrains. New new DB initialization fails for postgresql.
https://github.com/quattor/aquilon/blob/upstream/lib/aquilon/aqdb/model/network.py#L147

[2018-05-21 10:56] jouvin opened #81 "1.12.58: build_db.py broken with Postgresql"
`build_db.py` in 1.12.58 has been modified to support both IPv4 and IPv6. Network CIDR constraint has been defined with a condition on the IP version and the syntax used doesn't seem to work with Postgres, leading to a failure to initialize the DB. The problem is https://github.com/quattor/aquilon/blob/upstream/lib/aquilon/aqdb/model/network.py#L147 in 1.12.58.

The versions used in my case were P

[2018-05-21 19:46] jouvin opened #82 "1.12.58: pan/units should be included after archetype base"
In profile templates, `pan/units` provided by the template library is included before `archetype/base` used to add the template library to the LOADPATH., resulting in compilation failures This should be the opposite.

[2018-05-21 20:17] jouvin opened #83 "1.12.58: archetype/final should be optional"
Currently the broker created profiles where the last line is `include { "archetype/final" };`. I can imagine that the this template is not necessarily needed and rather than creating it empty, I'd suggest that this line is replaced by:
[code]
Note that an optional template is still part of the dependency information, so if it is added later, it will cause the profiles to be recompliled.

[2018-05-21 20:19] jrha commented on #83
It's pretty much essential for all normal use-cases (it's the only safe way to force profile content), but I see your point.

[2018-05-21 20:20] jouvin opened #84 "1.12.58: generated templates should adopt the "new" include syntax"
It'd be nice if the broker could use the panc v10 `include` syntax where the parameter is expected to be DML code (without putting it into `{}`) . This makes the syntax ligher:
[code]

[2018-05-22 08:43] jouvin opened #85 "1.12.58: empty hardware (model) templates should be made optional"
Currently, it is necessary to create a template for each model, even if it is an empty template. This is quite tedious. The machine template should do the following:
* Use `if_exists()` with `include` statement, e.g.:
[code]
* Use a unique dummy template, which could be created by the broker if it doesn't exist, with `create` fundtion, e.g.:
[code]

[2018-05-22 20:35] ned21 commented on #85
Actually this is a feature not a bug because prevents someone deploying un-certified hardware. Experimental hardware models get added and evaluated via `aq add_model` but that only allows you to use the hardware in a sandbox or non-prod domain. To get something into prod the hardware template must be deployed there via the usual process.

[2018-05-22 20:35] #85 closed, assigned to nobody

[2018-05-23 06:12] jouvin commented on #85
@ned21 I completely agree! In fact, I realized that my report was wrong yesterday. My problem is a side effect of the hardware templates being executed before the template library loadpath is defined. I'll open a new issue about this.

[2018-05-23 06:21] jouvin opened #86 "1.12.58: profile prolog template needed to define the LOADPATH"
Currently, hardware templates are executed first in the profile generated by the broker. Unfortunately when using the template library, the hardware templates needed are part of the template library (TL) and this requires to update the LOADPATH first so that the TL can be found. With the current version, the earliest possibility to do it is in `archetype/base` which is executed **after** the hardw

[2018-05-23 09:25] ned21 commented on #86
Interesting, I've not seen this before. @jrha - how do you manage this?

[2018-05-23 15:45] jrha commented on #86
See #64. We implemented a preface template which does what @jouvin is suggesting.

[2018-05-23 15:57] jouvin commented on #86
I looked at #64 (I was not able to find it this morning when opening this issue). The problem is that what MS implemented is not a preface template but an option to prevent inclusion of `pan/units` (done by default before including `archetype/base`). The comment in the code suggests that the result is that `archetype/base` is the first included template but in fact this is not the case: this is th

[2018-05-23 16:02] jrha commented on #86
The missing link is that the hardware templates require the units from the template-library. I can't see a way to allow that without the preface template (and we are still using one).

[2018-05-23 16:08] jouvin commented on #86
You could move `archetype/base` as really the first template but my point is that I think this is not a good idea and that it is better to have `archetype/preface` (or `archetype/loadpath` would have been my preferred name) executed as the first template, then keep `include_pan=true`  and continue to include `archetype/base` after the configuration of the hardware.

[2018-05-23 17:07] jrha commented on #86
Agreed.

[2018-05-23 17:17] jouvin commented on #86
I'm working on porting your previous mod which is just fine with me! But `host.py` has changed since you made it, so there are a couple of minor things to fix.

[2018-05-23 20:30] jouvin commented on #82
Followed as part of #86 which is the real issue...

[2018-05-23 20:30] #82 closed, assigned to nobody

[2018-05-24 12:45] jouvin commented on #83
After more experience with Aquilon and a discussion with @urbonegi , I agree that these templates have to exist in a real configuration and that it is better to expose that they are missing.

[2018-05-24 12:45] #83 closed, assigned to nobody

[2018-05-25 18:25] urbonegi commented on #86
Could you share the 'aq cat --hostname' output to demonstrate the template include order? The thing is that we would like to avoid defining new variables such as ARCHETYPE or new includes that would be added to every host profile. If we ensure the 'archetype/base' is included as the first template - you can add the content of suggested 'archetype/preface' to the archetype/base, right? Why to have

[2018-05-25 23:15] jouvin commented on #86
Here is an example (with #87 installed):
[code]
The important point is that, when using the template library (TL), you need to define the loadpath before loading the `pan/...` templates which are part of the TL. There is a chicken&egg pb. But for everything else, you probably need to have the `pan/...` templates already included and you don't want to duplicate in your site templates what the broke

[2018-05-25 23:29] jouvin commented on #86
@urbonegi BTW, you can look at the documentation [PR](https://github.com/quattor/quattor.github.com/pull/244) in progress for an illustration on how we use the template library in Aquilon (Look particularly for the section at the end, "Configuring the base OS").

[2018-05-26 18:03] ned21 commented on #86
Global variables slow down compilation and being mutable can lead to obscure bugs/behaviour. The schema already includes the archetype name so the existing code which adds the archetype by name to LOADPATH is more performant and lower risk than using an ARCHETYPE variable. To be clear we're not confusing ourselves this is what the start of our templates look like:

[code]

which is functionally eq

[2018-05-26 18:14] #28 closed, assigned to jrha

[2018-05-26 18:46] jouvin commented on #86
@ned21 probably we need a phone call asap to agree on a solution... My proposal is that we agree to disagree! I could explain you why I think the use of variables is better than depending on the schema with `value(...)`. The last version of the PR I proposed allow to implement both ways, according to the site preference, based on the `template_library_configured` option... If this option is false,

[2018-05-26 19:13] ned21 commented on #86
@jouvin  - which bit sorry? The use of mutable global variables are really bad practice, duplicating information already stored in /system/archetype/name and causes the compiler a performance hit. And in any case, you can always define ARCHETYPE in base.pan if you really want. That's one of the guiding principles of Aquilon, to be as simple as possible about the structure and delegate such decisio

[2018-05-26 19:54] jouvin commented on #86
@ned21 No it doesn't work because part of the things that are done in `base.pan` in the the template library context support that you included `pan/units` and `pan/functions` that are included by the broker after... So it means duplicating what is done by the broker, really not optimal. I personally don't care about the performance hit of one variable less as the template library is built around v

[2018-05-26 22:00] ned21 commented on #86
I think the problem with forking the code paths, in addition to the added complexity of the code, is that you then use a set of code paths that are not well tested and used elsewhere, which leads to problems down the line. e.g. it's now become clear the pan/units and pan/functions change was not actually the right one because it doesn't work. We have pretty good unit test coverage and try hard to

[2018-05-27 07:26] jouvin commented on #86
@ned21 I think this discussion is becoming crazy... we need to find another way to make progress and for me this cannot wait the next workshop... You speak about "forking" but the current reality is that Aquilon has been forked to be usable by the TL users. Once by RAL 2 years ago with a set of required patches never merged (including something similar to this one) and mine with the PR we are disc

[2018-05-27 09:18] ned21 commented on #86
Because it solves multiple problems. The base can set any necessary global variables (such as ARCHETYPE) which means we don't need the other code change, and it means we can remove the hardcoded dependency on files from TL from the broker-generated plenary. @nuked suggested this [a year ago](https://github.com/quattor/aquilon/pull/64#issuecomment-311664251) because it simplifies the broker code qu

[2018-05-27 11:13] ned21 commented on #86
Having played with the example template provided by RAL in #64, I now agree with you that there is no way to achieve this without adding a further template to the generated plenary. And internally we should adopt this too.

The name for this template in originally suggested in #64 is a little confusing because it suggests that this is just another template in the sequence, and we needed a name for

[2018-05-27 13:54] jouvin commented on #86
@ned21 first, let me say that I appreciate all the efforts you made to go into every details... and I'm happy that you shared our (@jrha and me) conclusion. And you spotted probably the details I missed making the `base.pan` solution you proposed not working (the fact that host data will overwrite `/ `).

I completely agree with you that this `loadpath.pan` template should be dedicated to this ear

[2018-05-27 14:15] jouvin commented on #86
BTW, I realize that I forgot one thing related to providing skeleton templates for the users. I'll look at your PR in `template-library-examples`, this is may be a good place to put things. The alternative is to use the configuration documentation: this is what I did yesterday and give may be a better exposure (I'm afraid `template-library-examples` is not really known to users). My proposal for t

[2018-05-27 15:57] ned21 commented on #86
Thanks for the detailed response. In reverse order:

The aq command cannot modify template-king so that's difficult. I am OK with the skeleton being part of the doc but since it needs to be followed every time you add a new archetype, it would be nice if this was easy to find. So let's move that to the discussion in my branch of template-library-examples.

Yes, I think that's a great idea.

I like

[2018-05-27 16:48] jouvin commented on #86
@ned21 ok, I'll split the pull request, I should have done it since the beginning!

As for the `ARCHETYPE` discussion, I agree that I need to play more with Aquilon + template library to understand the real need and it can certainly wait as there is no concrete use case at the moment. But from what I know, I tend to not completely agree (😄) about features being archetype-specific... When you decla

[2018-05-27 16:56] jouvin opened #88 "1.12.58: the broker should pass the archetype to the object template"
Currently, the plenary object template generated by the broker doesn't contain anything about the Aquilon archetype used to build the host. This makes impossible for a generic (not archetype-based, e.g. feature or OS templates in the template library) template to include an archetype-specific configuration with something like:

[code]

It would be good to have the broker adding this information in

[2018-05-28 14:34] jouvin opened #90 "1.12.58: machine template generated doesn't match profile_base schema"
The HW machine schema generated by the broker doesn't match the `quattor/type/hardware` part of `quattor/profile_base` from template library 18.3.0,  Identified issues are:

- [x] `room` property of `/hardware/rack` is mandatory but it is not generated by the broker, even if it was defined when adding the rack. Instead broker adds a `sysloc/room` that seems to duplicate `rack/id/room`. Either the

[2018-05-28 15:50] jouvin opened #91 "1.12.58: city timezone is not passed to the object template"
The broker doesn't output to the object profile the city timezone information, making impossible to configure it at installation time (or later with Quattor).

A proper fix of this issue requires #104 to be fixed first.

[2018-05-28 19:18] ned21 commented on #90
It looks like the external schema has drifted since hte schemas are not part of the open source push. Here's our latest personality schema:

[code]
I think it might make more sense to file these drift issues as issues against the right TL repo not this one.

This is a change that I remember @jrha  making, presumably they have templates that populate this properly.

It's not mandatory because there

[2018-05-28 19:23] ned21 commented on #91
The broker does not have a "timezone" field against the host object so it cannot appear in the plenary. The city object has a timezone field so you can use business logic in templates to load the right localised config, or UTC, or whatever timezone makes sense for you.

For some reason we load this information as part of our OS template but I think it should be part of archetype/base really. Can y

[2018-05-28 19:56] jouvin commented on #91
@ned21 I don't totally agree. There is a timezone information in Aquilon attached to the city and this one is not available in the object template. It would be much better to have this information in the template so that we can use it, as it is a required information when adding a city rather than having to use a set of template do define (again) the timezone at the city, region or country level..

[2018-05-28 20:01] jouvin commented on #90
@ned21 please, could you share your version of the 3 templates I mentioned so that we understand if there is any change controversial or if we just need to merge your change in upstream templates. IMO, It'd be good if you could open pull request against `template-library-core` when you require a change to the schema, else this is a potential source of problem for Aquilon users... If you can attach

[2018-05-28 20:45] ned21 commented on #55
I decided to have another go at this with the aim of making it possible to run the test suite on travis. I had some success configuring a centos7 container following the [install instructions](https://www.quattor.org/aquilon/00-install.html) but the unit tests are failing because klist and kinit fails with: `klist: UID in persistent keyring name while getting default ccache`

This page provides an

[2018-05-28 20:57] ned21 commented on #90
I agree it would have been nice if we had done this in the past, and I think it would be reasonable to do so if there are future changes.

Which 3 sorry? I already did archetype and personality. In terms of templates, there has been some refactoring in the QWG version which moved lots of stuff around so it may be a case of tracking down structures rather than files.

[2018-05-28 21:01] ned21 commented on #91
I think this is yet another example where failing to open source our templates has caused significant problems and misunderstandings. The plenary templates are just a copy of what is held in the table associate with that object. So if there's no field in the table, it cannot appear in the plenary of the same name. We could do the join in the broker code but the principle (which predates me) is to

[2018-05-29 12:04] jrha commented on #91
But in this case [there is a field in the table for the timezone](https://github.com/quattor/aquilon/blob/1.12.58-rc1/lib/aquilon/aqdb/model/city.py#L35).

[2018-05-29 12:08] jrha commented on #91
@ned21 I think that the counterpoint is that it is reasonable to expect that any field that exists in an object's table should also appear in the plenary template for that object, which is what I think @jouvin is getting at. If the DB data is not exposed in the plenaries, it cannot be used for business logic.

[2018-05-29 12:20] jouvin commented on #91
@jrha you summarized well my point 😄

[2018-05-29 12:22] jrha commented on #90
In response to what we are doing for OS version information: it's all handled in the archetype's OS configs, for example this is `os/sl/7x-x86_64/config.pan` from the `ral-tier1` archetype:
[code]

and `os/sl/distribution.pan`:
[code]

[2018-05-29 12:33] jouvin commented on #90
@ned21 yes, I'll open an issue/PR in the `template-library-core` repo... I also turned the description list into a list of task so that we can ensure that everything has been tackled. The 3 templates are those mentioned in the description from `quattor/types`.

[2018-05-29 12:39] jouvin commented on #90
@ned21 @jrha my remark about `/system/archetype` is about what is filled by the broker. I think it must be consistent with the schema as it is assigned to the configuration path, not to a variable. @jrha approach is masking (working around) the problem but we should fix it!

[2018-05-29 14:50] jrha commented on #88
I would actually be very happy if it just did:
[code]
Our usage of the `ARCHETYPE` variable is largely legacy and could be easily replaced with `value("/system/archetype/name")`.

[2018-05-29 14:51] jrha commented on #88
In fact, I just checked and we no longer make use of `ARCHETYPE`, everything has already switched over.

[2018-05-29 15:00] ned21 commented on #90
I previously provided up to date schema for personality and archetype so I ticked those off. Here's the hardware structure we use:
[code]

I suspect you will find structure_hardware is the QWG schema from ~8 years ago!

[2018-05-29 15:01] jrha commented on #91
Looking into it a bit more @ned21 is also correct, there is a plenary for the city and it *does* include the time-zone, it just isn't included anywhere, the code he provided would accomplish that.

e.g.
[code]
[code]

[2018-05-29 15:08] jouvin commented on #91
Ah... I misunderstood @ned21 previous comment about these templates I thought we should create them... I guess we can close the issue then

[2018-05-29 15:09] ned21 commented on #91
Sorry I wasn't clearer. I meant to include the "aq cat --city ln" output.

[2018-05-29 15:11] jouvin commented on #88
I'm also happy if the broker assign the config path rather than a variable but I'd suggest my construct to make clear that loadpath is initialized with it

[2018-05-29 15:21] jrha commented on #90
@stdweird and I spent quite a lot of effort re-factoring the schema and ensuring it was compatible with the (SCDB-style) QWG templates as well as aquilon.

I'm not sure what you are saying is missing. We are using the schema from `template-library-core` without modification.

[2018-05-29 15:25] jrha commented on #90
Also see https://github.com/quattor/template-library-core/pull/142 for the discussion around the OS structure.

[2018-05-29 16:44] jouvin commented on #90
@jrha I don't know if your comment was for @ned21 or for me. I just pointed out, starting from scratch (it means Aquilon 1.12.58 + TL 18.3.0) that the schema and the behaviour of the broker are not consistent and that they need to be IMO.

[2018-05-29 20:55] jouvin opened #92 "TIMEZONE variable should be final"
The broker generates a template reflecting the city location under `site/` in the plenary templates, that defines the `TIMEZONE` variable based on the Aquilon city object. This template has 2 flaws:

- [ ] `TIMEZONE` variable should be declared as `final` as there is no point in modifying a variable reflecting the Aquilon database contents.
- [ ] The template should be declared `unique` to avoid t

[2018-05-30 11:11] ned21 commented on #92
I have found at least three instances in our code base where TIMEZONE is overriden. This might be due to a misunderstanding of how to correctly override the timezone of a host (we have some log collectors that use UTC), or because we found that too many templates assume TIMEZONE is the canonical TIMEZONE of a host and using something else didn't work properly. :-(

This is probably a general point

[2018-05-30 11:59] jouvin commented on #92
@ned21 I didn't open a separate issue about `unique` because after my (quick) check, all the other templates generated are `structure` template (except the object one). But if it is not the case, you are right!

[2018-05-30 13:39] jouvin commented on #92
@ned21 about the main topic, the fact that the variable should be `final`, I tend to think that it should be the rule for every variable that reflects an Aquilon DB parameter value. I share the concerned you express often about preventing mistake done by a user that are very hard to debug. One of the possible mistake is to redefine a variable that should not... You can object me that most of the d

[2018-05-30 14:23] jouvin commented on #91
I'm reopening this issue because I didn't fully understand how the city template under plenary `site` directory (defining the timezone) is supposed to be included... Under `site` directory, cities are grouped by `hub` if I understood properly. But this hub info doesn't seem to be passed to the object profile (and the other generated templates) by the broker... Did I miss something?

[2018-05-30 15:06] ned21 commented on #92
@jouvin I think we are almost in agreement, the variable should be final and it not being final has caused an issue that we will avoid by being more careful to set things as final when introducing new ones. :)

In practical terms, this is a backwards incompatible change though so first we need to identify the correct way for a template to override the default from the city, document that, and then

[2018-05-30 16:19] ned21 commented on #91
oh, this rings a bell - when we set up a new Aq instance internally last year we came across this problem where the location had changed.

@ajf8 - what was the fix?

Is it definitely the hub or the campus? We have hubs and campuses with the same names so I can't tell. This is the full list of location data populated into the plenary:

[code]

If it's the campus then you should be able to do:
[code

[2018-05-30 16:38] jouvin commented on #91
In fact, I think this the hub as in one of my example I don't have campus defined and in the other one I have it but with a name different from the hub and I can't see it in the hostdata. (hardware sysloc)..

[2018-05-30 17:05] ned21 commented on #91
Can you share the output of `aq cat --machine $machine`?

[2018-05-30 20:02] jouvin commented on #91
For example, I have a machine `testhw`. Its Aquilon DB definition is:
[code]
But the associated plenary template doesn't contain the hub and campus information:
[code]
And as you can see below the city configuration is under `site/$hub`:
[code]
IMO, something is inconsistent because there is no way to select the city template from the information in the plenary object. And as said before, some inf

[2018-05-30 20:23] jouvin commented on #91
Thinking more at the `site` directory structure, I think there is something wrong in the choice `$hub/city` as the hub is a superset of continent and countries. Take for example Paris which can be at least Paris/France and Paris Texas. Imagine that for some reason they are part of the same hub made of america/us and europe/france, then there is a clash. It looks to me that at least country is need

[2018-05-31 09:26] jrha commented on #90
I know we're running an older version of the broker, but it is populating `rack/room`...

[code]

[2018-05-31 09:27] jrha commented on #90
Ah, see 6b141398f1abe85d515f9f7d180b818bf6f3226b

[2018-05-31 13:26] ajf8 commented on #91
These lines of code may explain the confusion, which I had to dig into myself when we setup a new broker recently. It does expose the timezone into a plenary, but the path for the plenary doesn't really make sense and should probably be changed.

https://github.com/quattor/aquilon/blob/upstream/lib/aquilon/worker/templates/city.py#L33

Notice it uses the fullname attribute (lowercased) of the hub.

[2018-05-31 20:54] ned21 commented on #91
So I think we've identified two bugs here:
1.  using fullname instead of the code for hub
2. hub is not exposed in the machine plenary so it's not possible to load the city plenary containing the TIMEZONE

We haven't fixed 1 because it would break our existing install, and presumably RAL too.  (2) could be fixed more easily but first requires an update to structure_sysloc which currently looks thi

[2018-06-01 06:26] jouvin commented on #91
@ned21 thanks for your detailed analysis! Thinking at this yesterday, I had an idea that may help to solve this problem without breaking the backward compatibility! I find the template machinery invented to pass the timezone to the plenary template overwhelmingly complicated... At the end this is just to define one variable
.
My proposal is to deprecated the use of the template (but continue to pr

[2018-06-01 10:03] jrha commented on #91
Fixing (1) won't break RAL, as we don't currently make use of it in a meaningful way.

[2018-06-01 12:19] ned21 commented on #91
It's a good idea but I think having a timezone field in the host table would be contrary to Normal Form, and/or require the user to type --timezone when adding a host which would still be a breaking change to any automations that call add_host.

We only use the site/ location files for timezone because we pass all the other geographic info via services but the mechanism exists to allow people to l

[2018-06-01 12:34] jouvin commented on #91
@ned21 I perfectly understand the reason for having location-related templates and I am not suggesting to remove this possibility (in fact there is no way to remove it as the use case you describe means they are site templates rather than plenary templates). I was suggesting to add another mechanism to configure the timezone that could be used as an alternative approach when it is appropriate and

[2018-06-01 19:12] #76 closed, assigned to jouvin

[2018-06-01 21:02] urbonegi commented on #43
As this is merged can we close this issue:
https://github.com/quattor/aquilon/commit/a066bf7bcb1ec01e9d5a4b2728915c81bdffef10

[2018-06-01 21:04] urbonegi commented on #42
@jrha can we close this one? There is a separate issue open for a bug in network model.

[2018-06-03 13:26] jouvin commented on #90
https://github.com/quattor/template-library-core/pull/177 should bring a template library schema compatible with Aquilon, except for the OS where I kept the change to a `dict()` mentioned by @jrha . Rack room is populated by Aquilon if defined but you can also define a rack in a building without defining the room in which case it is not in the generated profile. In this PR, I decided that this pro

[2018-06-04 07:59] jouvin opened #93 "Aquilon 1.12.58: /system/archetype/os in object template has the wrong type"
In Aquilon 1.12.58, the broker still generate `/system/archetype/os` as a string according to the old schema. It was changed to a `dict` one year ago for the reasons explained in https://github.com/quattor/template-library-core/pull/142. The broker should adapt to the new schema, potentially with an option to ease the transition at MS.

This is **required for the template library support** in Aqui

[2018-06-04 09:29] #42 closed, assigned to jrha

[2018-06-04 09:29] jrha commented on #42
Yes, apologies for the delay.

[2018-06-04 09:30] jrha commented on #43
Cool, thanks.

[2018-06-04 09:30] #43 closed, assigned to nobody

[2018-06-04 09:42] stdweird commented on #43
@jrha @urbonegi euhm, why doesn't https://github.com/quattor/aquilon/commit/a066bf7bcb1ec01e9d5a4b2728915c81bdffef10 put th eunit in the proper place? `/usr/lib/systemd/system` is for unit files shipped by packages, anything in `/etc/systemd/system` (ie with `system` subdir) is for changes to unitfiles. with the current location, you can't change them (except by overwriting the whole unit).

also,

[2018-06-04 09:46] jrha commented on #43
The current commit doesn't put it anywhere, it just provides a unit file.

[2018-06-04 09:48] stdweird commented on #43
@jrha ah, ok. the directory structure is a bit suggestive though

[2018-06-04 09:49] jrha commented on #43
Sure, but in the context of the other files in the directory it makes sense.

[2018-06-04 21:09] ned21 commented on #93
hmm.. When quattor/template-library-core#142 was introduced it was explicitly called out that this did not require a change to aquilon because this was set in templates. Now it appears I wasn't aware that @jrha was using an older version of aqd which predates 3b82d80015 that should have blocked
https://github.com/quattor/template-library-core/pull/142 from being merged.

So I think we need to go b

[2018-06-05 09:35] jrha commented on #93
I've opened quattor/template-library-core#181 to revert the breaking changes from quattor/template-library-core#142, reverting the entirety of quattor/template-library-core#142 would be overkill.

[2018-06-05 13:03] #93 closed, assigned to nobody

[2018-06-08 09:57] jouvin opened #96 "aq.py ignores aqhost in config file outside MS"
`aq.py` sets unconditionnally the default `aqhost` to the current host outside MS, instead of taking into account the defaults defined in aq conf file.

[2018-06-08 10:06] jouvin opened #98 "aq.py ignores system-wide conf file if run from the sources"
In 1.12.60, `aq.py` intentionally ignores  the system-wide conf file if a `Makefile` file is found in the parent directory of the script (typically means run from the source tree). This default behaviour is annoying as the typical Aquilon deployment documented is a `git clone`. Would it be acceptable to have an option on the command line (and possibly in the system-wide conf file) to enable this b

[2018-06-08 10:10] stdweird commented on #98
the "typical" deployment is a git clone? really? doesn't aquilon do releases?

[2018-06-08 10:12] jrha commented on #98
@stdweird yes, but releases do not imply packages or anything else other than a defined point in a commit tree

[2018-06-08 10:14] stdweird commented on #98
@jrha i meant releases on pypi and such. anyway, is this also an issue with the rpms?

[2018-06-08 10:21] jrha commented on #98
:man_shrugging:

[2018-06-08 20:52] ned21 commented on #98
I suspect there are two cases where this could be important:
1. Running the unit tests.
2. Running development instances, it is important that the developer does not accidentally run commands against the real production instance.

It may be better to do as @stdweird suggests and ensure the client is run from a properly packaged instance instead of a source tree that may be ahead of the running bro

[2018-06-09 12:06] jouvin commented on #98
I think my point/issue is a little bit distinct from the packaging. Yes it would be great to have a PyPi package for Aquilon but honestly, having doing it as documented with a Git clone, I don't see any major issue and it has also its advantages in this phase where things evolve quicly: easy to test changes, rollback, run PRs not yet committed...

My point is about the default behaviour regarding

[2018-06-09 16:41] ned21 commented on #98
Thanks for the detailed reply. I am not opposed to this change in anyway, was just trying to explain why the current behaviour might have seemed desirable (although changing  something "silently" is almost always wrong). I will leave this to the determination of active developers such as @urbonegi who have to be careful to avoid running commands against production!

[2018-06-09 18:54] jouvin commented on #98
Thanks! As I said, the PR is the beginning of an attempt to make the life in production easier... I'm really ready to improve it to make easy to ensure that you are not running against the wrong broker because you used the wrong config file, in particular by adding a global option like `--ignore-system-config`. I'm looking forward @urbonegi feedback.

[2018-06-10 20:41] urbonegi commented on #96
aqservice default value in aq.conf is not ignored. It is just aqhost. So we could add consider the aq.conf defaults for a host too. Commented PR.

[2018-06-10 21:11] urbonegi commented on #98
If we introduce these changes that means that every developer who have their dev environment will have to always export aqhost/aqservice to make sure they hit their dev server not production. It is too bit overhead and will definitely cause us hitting prod endpoints by accident quite often. Having default behavior after git clone to use localhost as dev server is best solution. Please note that MS

[2018-06-11 10:15] jouvin commented on #98
@urbonegi may be my issue description was not clear enough but the problem that I see is that there is no `aq.conf` in shte source tree by default. So returning the source tree as the location for the config file unconditionally is not completely consistent. You could imaging to create one as part of the Makefile for example. I don't think that it necessarily requires a developper to define env va

[2018-06-13 16:39] urbonegi commented on #98
You have 3 options to fix this:
1. Have a aq.conf in the source code and just adding a line in .gitignore to ignore it. The aq.conf is internal and custom per organization so it cannot be pushed to github code repo.
2. 'Deploy' the source code to new dir (remove the Makefile), then you can use the aq.conf in /etc/aquilon and not one in source code dir. You can just simply always use that to call a

[2018-06-13 17:50] jouvin commented on #98
Probably options 1 and 2 are acceptable but they are still workarounds (option 1 will be acceptable if we can commit the modified `.gitignore`). option 3 is not more acceptable than it is for you to add an option everytime you run `aq.py` in development mode... I'm still trying to find a solution acceptable for you (I understood that it means a solution changing nothing for you) and fixing the def

[2018-06-15 12:17] ned21 commented on #98
@jouvin Acceptable to us does not mean "change nothing", it means "fail safe by not talking to production if a developer has checked out the source tree".  That's a good thing for everyone, not just us, and also using the aq client from HEAD is incompatible with talking to an older broker version.

I think deploying code via git clone is actually a pretty good deployment mechanism.  But that's not

[2018-06-15 12:22] jouvin commented on #98
Thanks! I'm waiting for @urbonegi's feedback on my last proposal (not yet implemented!). The client deployment is not difficult, you are right, but it is a little bit more than the files you mentioned. At least `lib/aquilon/config.py` is missing. At some point it may be good to have the exhaustive list somewhere...

[2018-06-22 11:58] urbonegi commented on #98
@jouvin  Sorry to take so long to respond - I was occupied by some internal work. So although your solution sounds good @jouvin it will also not work for us, as we use the directories mentioned. We ship /etc/aquilon/aq.conf with a help of quattor templates to aquilon hosts so that they can communicate with the aqd. I think at the end state you can also achieve that as well. Reading what @ned21  an

[2018-07-03 09:27] #78 closed, assigned to jouvin

[2018-07-03 09:27] #86 closed, assigned to nobody

[2018-07-05 12:40] jouvin commented on #73
Updated [installation documentation](https://www.quattor.org/aquilon/00-install.html) should provide the basis requested by @urbonegi. Based on my experience, I am not convinced at all that providing an Aquilon package would make the life easier. The current installation process, based on using the Git repo, is very flexible, in particular when it comes to upgrades (easy to revert using branches)

[2018-07-06 07:34] jouvin commented on #90
`room` property issue mentioned in the description has been fixed by the [schema update](https://github.com/quattor/template-library-core/pull/177), except the removal of the unused `room` property in `structure_rack` which is followed in https://github.com/quattor/template-library-core/issues/182, as making the archetype `name` property mandatory.

For this reason, this items are marked done in t

[2018-07-06 07:34] #90 closed, assigned to nobody

[2018-07-06 19:45] jouvin opened #104 "1.12.62: location related templates cannot be used"
This issue is a spinoff of #91. related to timezone information passed to the plenary templates. I

t appeared that the timezone information declared in the database is in a generated templates associated with the host location but that the plenary object template doesn't have enough information passed by the broker to locate it. The first part of the issue discussion reflect this misunderstanding

[2018-07-06 19:50] jouvin commented on #104
Copying https://github.com/quattor/aquilon/issues/91#issuecomment-393676498 from @ned21 which is a detailed analysis of the issue...

[2018-07-06 19:53] jouvin commented on #91
As this issue is now 2 different issues, the location templates namespace and the timezone information in plenary templates, I created a [new issue](#104) to track the namespace issue and copied @ned21 detailed analysis of the problem from this issue.

I suggest to keep this issue only for the timezone discussion.

[2018-07-06 20:07] jouvin commented on #104
Can we try to progress on this issue? I'm ready to work on it during my spare time but I agree with @ned21 that we first need to agree what a "fixed implementation" would be. Once we agreed, this is probably not very difficult to implement it with an option as suggested to ensure that only new sites use the new namespace by default.

I had a quick look at the hub issue where the fullname rather th

[2018-07-07 10:42] jouvin opened #105 "1.12.62: allow to use rack fullname rather than name in machine template namespace"
The machine templates generated by the broker (`machine` directory in plenary templates) have a pan namespace reflecting the location hierarchy where the rack is designated by the rack name. But the rackname is a value generated by Aquilon, based on the room name, to ensure it is unique but as a consequence is not easily mapped to an actual rack (without using `aq show rack`), making difficult to

[2018-07-12 13:31] jouvin opened #107 "1.12.62: aq show service --all doesn't work if the service has no instance"
`aq show service --all` doesn't show service object defined if they have no instance.

[2018-07-12 18:48] jouvin opened #109 "Why service configuration is included so late in the plenary object?"
I started to play with Aquilon services and found that the service information is included after the OS configuration has been done. Is there a good reason for that? I have the feeling that it should be included very early, right after the hardware configuration and before `archetype/base`. If I'm right, the service plenary templates have no dependencies on the OS. On the other side they can provi

[2018-07-13 08:48] jouvin commented on #109
Thinking more about this issue, I realized that the reason for the "late" inclusion of service templates is that they include both the service data template and a service configuration template which is empty by default but that the site can overload to include for example what is required to configure the service (including a feature for example). This would be broken if the service template was

[2018-07-14 07:16] jouvin opened #111 "1.12.62: too strict check for feature template existence"
`aq bind feature` and `aq manage` , when they act on hosts that are part of a domain (through the archetype/personality selected in the case of `aq bind feature`), check that the `config` template for the feature exists in the selected archetype directory (in the Git repo associated with the domain). The goal of this check is to avoid breaking the configuration of the domain hosts with this archet

[2018-07-14 16:57] jouvin opened #113 "1.12.62: aq pxeswitch should allow to define aii-installfe cdburl"
It would be good if the broker could pass the `cdburl` parameter to `aii-installfe` so facilitate sharing an AII server between several source of configuration information. The main use case is sharing the AII server between SCDB and Aquilon. In this case, you want the default `aii-shellfe` config to be for SCDB (which doesn't provide any command to run `aii-shellfe` indicrectly) and you want Aqui

[2018-07-15 20:40] ned21 commented on #111
My usual comment here: creating more than one way to do something creates confusion, makes it hard to write working documentation, and complicates answering support queries (because you first have to get the person asking for support to send you their config file). Personalities are composed of features and personalities are namespaced by archetype. Each archetype has its own schema so cross-arche

[2018-07-15 21:03] ned21 commented on #109
Adding more data to the host plenary is something we've talked about several times. In particular the personality information is something we would find useful much earlier in the compile. So if we are going to make a change like this I think it would be good to gather up all the changes to the host plenary into one release (albeit submitted and reviewed separately) and then sites only have to flu

[2018-07-16 08:23] jouvin commented on #111
@ned21 I'd request that this issue is not closed before further discussion. I understand your point of view but we also need to take intot account that having one way for everybody won't work... We need to find the right balance between making the code maintenance not unnecessarily complex, the user support (/document) as easy as possible and the production flexible enough to accomodate different

[2018-07-16 08:30] jouvin commented on #109
I'm fine with the proposed approach. Nothing urgent, It would be good it you could ensure that the necessary people are involved on your side.

[2018-07-16 21:04] ned21 commented on #111
I don't follow this logic. Deleting things from source code requires you to test the change, probably via some sort of automated framework. The protection provided by this check is because we learned through years of usage that people will put hosts in sandboxes and bind the feature "for their host" and not realise that they inadvertently broke the domain. Or they moved hosts out of sandboxes into

[2018-07-17 08:23] ned21 commented on #109
This should be looked at in conjunction with #89 which also modifies the host plenary.

[2018-07-17 08:27] ned21 commented on #105
I think that's potentially risky as full names are not guaranteed to be valid pan, or perhaps even directories on the filesystem. Would it make sense to add an option to allow free-form rack codes that are not generated from the room name?

[2018-07-17 10:10] jouvin commented on #111
@ned21 I think we are not far from an agreement! As far as I'm concerned, I certainly don't want to disregard the years of experience you put in Aquilon but I'd rather want to thank you for the great product you built. Honnestly, I've been very positively surprised by how good Aquilon is. That said, as you mentioned scale is impacting the balance you choose between safety and flexibility and my po

[2018-07-23 10:10] jouvin opened #116 "1.12.62: how to define the rack slot for a machine"
Declaring rackmounted machines (from model type `rackmount`), I have been surprised that you can only specify the rack ID, not the rack slot. Did I miss something? Is it intentional? We used to track the rack slot in SCDB and it was rather convenient...

[2018-07-24 09:18] jrha commented on #116
Is it useful for anything configuration related? (Other than something like MOTD).
It seems like information that is hard to keep correct without something like a periodic data centre audit.

[2018-07-24 09:37] jrha commented on #111
FWIW at RAL we use archetypes for separating hosts that are managed by different organisational structures, we have some desire to eventually move away from this, but nothing will happen in the short to medium term.

Archetypes work really well for us in this use case, allowing us to share a broker and the associated infrastructure with groups who have different ways of working and whom we have no

[2018-07-24 09:47] jrha commented on #105
What is the use case for someone having to actually navigate the machine templates? I can't imagine why the average user should care what the directory structure is.

[2018-07-24 13:25] jouvin commented on #111
I am not sure I completely share the view that a sandbox should contain only archetypes... For example, you may want to add HW definitions (in `hardware` namespace) and they are clearly not archetype-related. For me, archetypes should have been inside an `archetypes` directory (with the broker defining the appropriate loadpath). The drawback to your approach is that it requires adding something to

[2018-07-24 13:47] jrha commented on #111
For us at least, adding things to the `LOADPATH` was desirable because it is important that archetypes opt-in to the shared area. Most of our sharing of work is more grass-roots than top-down.

[2018-07-24 14:24] jouvin commented on #111
@jrha I understand the potential benefit of your approach but in this case it is not possible to implement a reliable check of template existence (the original issue discussed here!) as you need to know the loadpath set in the context of the archetype. So if you have an archetype that doesn't use the shared templates and you are running your modified broker, the missing template will not be detect

[2018-07-25 08:17] jrha commented on #111
Sure, though ideally we wouldn't need to use archetypes in this way.

[2018-07-25 11:37] jouvin opened #117 "1.12.62: how to define set_hwaddr for network interfaces?"
With the new naming interface naming scheme introduced several years ago, it is cirtical to be able to define the property `set_hwaddr` for network interfaces. Is there a way to do it in Aquilon? Failure to do it means you endup with unpredictible names, not recognized as valid by most commands doing a validation of the interface names (like the `aq` command and several Quattor configuration modul

[2018-07-25 12:21] jrha commented on #117
We just have the following in `archetype/base`:
[code]

[2018-07-25 12:24] stdweird commented on #117
@jrha why not

[code]

[2018-07-25 12:25] jrha commented on #117
:man_shrugging: Because we didn't know that it was a thing?

[2018-07-25 12:26] stdweird commented on #117
@jrha despite the abundance of documentation? i'm shocked :duck:s

[2018-07-25 13:15] jouvin commented on #117
I was also not aware of the possibility to set it globaly. Makes the workaround easy. But I still think that Aquilon should set this flag in the hostdata plenary template. I don't have a clear picture if using this flag can be harmful and has to be somewhat conditional.

[2018-07-25 13:17] jrha commented on #117
IMHO these days it's more harmful to not set it. I don't think aquilon should support it, it seems more like a site policy decision possibly based on OS behaviour with different generations of hardware.

[2018-07-25 14:47] jouvin opened #118 "Aquilon-related schema should be released with the broker"
As mentioned by @jrha several times, in particular in https://github.com/quattor/release/issues/326#issuecomment-407773804, it is painful to have the Aquilon-related schema distributed by the template library as it means it is unsynchronized with the broker version and may make the life of sites still running older broker difficult (because the new schema may not be enforced in the plenary templat

[2018-07-25 15:07] #96 closed, assigned to nobody

[2018-07-25 15:07] #98 closed, assigned to nobody

[2018-07-25 15:52] ned21 commented on #117
But Aquilon hosts encompass more than just Linux. On other Ones and archetypes it's not allowed so you cannot put such a thing in the plenaries. In fact we have this:

[code]

[2018-07-25 16:21] jouvin commented on #117
Good point! We then need to make it clear in the documentation. I have an update of the base templates underway, I'll add it.

[2018-07-26 11:03] jouvin commented on #117
@jrha not shure to understand your point. Do you want to say that this property default should be `true` rather than `false` in the schema? Or Do you want to say that it is more harmful to *set it* and we should not change anything, just inform the site that it has to decide (my current approach in https://github.com/quattor/quattor.github.com/pull/255)?

[2018-07-27 09:39] jrha commented on #117
The point I was trying to make is that on modern Linux distributions it should IMHO always be set to `true`.

However the ultimate decision rests with the site and is likely to be affected by many factors, including peculiarities of various hardware/software combinations and OS version. It is therefore business logic best managed by the Pan templates and not the broker.

[2018-07-27 10:14] jrha opened #119 "Include broker details in metadata"
Would this be a good idea?

In particular it would be nice to have the version of the broker written to the host plenary, but having the broker's host-name might also be useful. This would allow us to track roll-outs of changes which only take effect as the plenaries are rebuilt as well as letting us build in time-bombs for any workarounds that get upstream fixes.

`/metadata/broker/version`?
`/me

[2018-07-27 10:25] jouvin commented on #117
So we all agree at the end... Not sure it will work on Debian anyway... Closing this issue.

[2018-07-27 10:25] #117 closed, assigned to jrha, urbonegi

[2018-07-27 16:57] stdweird commented on #119
at some point i also proposed to do this for panc by panc, but i can't remember why we choose not to. i'll try to find issue...

[2018-07-27 20:52] ned21 commented on #119
This would cause all profiles to change on every release. Since we release weekly, I would be not keen on this.

We already have this because one of our services is aqd, so the server name appears in `/system/services/aqd/...` This allows to bind hosts to e.g. a beta broker for testing new functionality with real hosts. Any reason you could not do the same?

[2018-07-30 08:21] jrha commented on #119
Do you flush after every release?

[2018-07-30 20:34] ned21 commented on #119
No. I see there's an interesting angle there: if we added this but didn't flush we would be able to tell which version of the broker generated the host plenary. But then that gets confusing because it may be including plenaries generated by other versions of the broker.

[2018-08-01 13:04] jouvin commented on #105
For the average user I don't know, for me when debugging things I can tell! Recently @urbonegi mentioned that there was internal discussions at MS about adding a new field that would be a rack label that could be defined by the site and would have to be a valid directory/pan namespace (we could even imagine to derive a default value from the full name). It would be perfectly ok for me.

[2018-09-10 17:06] #84 closed, assigned to nobody

[2018-09-10 17:06] #113 closed, assigned to ned21, jrha, urbonegi

[2018-10-29 17:37] jouvin opened #121 "aq update machine internal error if a VM has a local disk"
I defined a virtual machine attached to a host (`aq machine --vmhost...`) with a local disk, without any problem. Later, I tried to update it to be attached to a cluster with the following command:

[code]
but it resulted in the unexpected error:

[code]

Whether it is valid to have a local disk on a VM is discussable but the behaviour should be consistent between `add` and `update` and if it is a

[2018-10-30 11:21] jouvin opened #122 "aq add interface should support --boot"
Currently, defining the boot interface explicitely (with `--boot`) requires to first add the interface and then update it, as `--boot` is not a supported option for `add interface`. I don't see any good reason for this!

[2018-10-30 16:48] jouvin opened #123 "Better documentation of option valid values is needed"
Many `aq` commands have options that require a value in set of valid ones but most of the time it is impossible to know what the valid values are without looking the source code... An exampe is `--type` for `aq add model` but there are several other ones. An exception is `--cluster_type` for `aq add archetype`!

[2018-11-01 21:34] jouvin opened #124 "1.12.65: make the cluster object profile optional?"
Currently, when  a cluster is defined, a plenary object profile is created and compiled when `aq make cluster` is executed. I have the feeling that in general this object profile is not needed as it is not consumed by standard components. On the other hand, getting it to compile successfully can be painful, in particular if features are added to the archetype or the personality. It is the case if

[2018-11-02 09:22] jouvin opened #125 "1.12.65: allow aq cat to display template library templates"
The template library being installed in the plenary template area, it is not easy to see its contents. It is possible to go to the sources on GitHub or maintain a private copy but it would be handy if `aq cat` could display a template from the template library with something like:

[code]
`--template` should be the name known by the user (relative to the loadpath). `--subset starndard|core|os|...`

[2018-11-02 10:28] jouvin opened #126 "1.12.65: disk type cannot be specified in aq add disk"
Is there a good reason why it is not possible to specify the disk type in `aq add disk`. This make impossible to add a `virtual_disk` to a virtual machine.

[2018-11-02 12:21] jouvin opened #127 "1.12.65: an undefined IP address should be valid for a virtual host in a cluster"
Currently, it is required that an address is declared (either directly or indirectly) for any host. It is not always appropriate, in particular for virtual host hosted by a cluster representing a cloud where the actual address allocation will occur according to the cloud policy defined. It would be good to allow an undefined IP address in this case. It would be up to the user not to configure the

[2018-11-02 15:19] jrha commented on #105
Discussed with @jouvin and @XaF after the workshop, this is not needed as the templates can be easily seen with `aq cat --machine`. If someone *really* wants to see the actual file lives, then the namespace is at the top of the `aq cat` output.

[2018-11-02 15:19] #105 closed, assigned to nobody

[2018-11-02 16:14] jouvin commented on #124
After discussion, the problem happens probably only if you attach a host feature to a cluster archetype rather than a cluster personality as the cluster personality is not included into the cluster. Will check.

[2018-11-02 16:16] jouvin commented on #44
According to @gombasg during UGent workshop, progressing well... but not yet there!

[2018-11-02 16:24] xaf commented on #104
I'm fine with both the following changes:
- Adding `hub` to the `sysloc` template; I think `hub` are to be considered as logical locations, and should appear in the templates informations as we might need them to perform some actions or checks
- Using the continent in the path instead of the region

I think that both could be done (in separate commits) as they both make sense. Or any of those.
@ne

[2018-11-02 17:29] jouvin commented on #124
Unfortunately, I checked after our discussion and the cluster personality is included in the cluster object template. For example:

[code]

In a host profile, you would have:

[code]
which mainly does the personality include.

So the issue remains valid for me...

[2018-11-02 22:28] ned21 commented on #127
We might have an upcoming requirement for this too, although we probably want to generalise it to be any host not just a VM. I wasn't aware that the standard schemas allowed it, but if you are using it that way I guess that means AII, _et al_. will work?

[2018-11-03 19:47] ned21 commented on #124
Have you tried setting the archetype to non-compilable? I think that achieves the same thing.

[2018-11-04 10:49] ned21 commented on #104
Did you mean, "using continent in the path instead of hub" ?

I am fine with this change but as I noted, it's not a trivial change to deploy since you need to make a simultaneously change to files in template-king across every active domain and flush all the plenaries. (People's sandboxes will also break but they should be updating them regularly anyway.)

[2018-11-04 18:28] jouvin commented on #124
@ned21 yes, you are right but if you do this you cannot use 'aq make cluster' anymore to rebuild all the hosts in the cluster...

[2018-11-04 18:33] jouvin commented on #127
@ned21 no, we are not using it that way and I am not sure the schema allows it... I need to check. What we do currently, as we always did with VM, is that we disable ncm-network. I think that if ncm-network is disabled, we don't really care if an Ip address is defined, Even for AII it should work if a DHCP address is obtained. But in our case, we don't care about AII with VMs as we don't install t

[2018-11-04 21:00] ned21 commented on #124
Interesting if that is a feature of the broker, I always assumed it was a side-effect of the PAN compilation because there are dependencies from the cluster object to the host objects.

`aq reconfigure --membersof $cluster` is the command you want to rebuild all the hosts in a cluster.

[2018-11-05 07:59] jouvin commented on #124
I missed that, thanks! Then marking the cluster archetype does the job. I'll update my [doc PR](https://github.com/quattor/quattor.github.com/pull/259) about clusters then!

[2019-01-03 09:48] jouvin opened #128 "1.12.66: how to change an interface address"
I need to change the address associated with a host interface. `aq update interface` help says that it should be done with `add add/del interface address`. But if I try to add an address to the interface with:

[code]
I get the error:
[code]
and if I try to delete the existing address first with:
[code]
I get:
[code]
What did I do wrong?

[2019-01-07 10:06] jrha commented on #128
If it is the primary address, I believe you have to delete and re-add the host.

[2019-01-07 11:04] jouvin commented on #128
I find it a little bit cumbersome to have to delete/re-add a host to change its primary address... Any good reason for this or is it something that we could improve?

[2019-01-07 13:00] jrha commented on #128
No idea, design decision? @ned21 might have an idea about the motivation behind it.
At RAL we don't normally allow hosts to be renamed because it causes a record keeping nightmare.

[2019-01-07 18:56] gombasg commented on #128
If it is _not_ the primary address, then you need to delete/re-add it. If it _is_ the primary address, then a little un-intuitively, `aq update machine --machine ... --ip ...` is what you need.

[2019-01-07 19:01] jouvin commented on #128
@gombasg thanks for the info, I'll add it to the documentation. BTW, if it is not the primary address you need to delete/readd the interface address (according to the help), not the host, isn't it?

[2019-03-18 18:34] GRyall opened #129 "Sandbox creation error message is not human friendly"
If you try and create a sandbox with a name that is longer than the limit, instead of a human friendly error message you get:
`Internal Server Error: (psycopg2.DataError) value too long for type character varying(32)
[SQL: "INSERT INTO branch (id, branch_type, name, compiler, is_sync_valid, autosync, owner_id, formats, creation_date, comments) VALUES (nextval('branch_id_seq'), %(branch_type)s, %(n

[2019-03-20 00:11] XaF commented on #129
Oh, nice catch!

[2019-07-23 16:30] drossy opened #130 "Add DNS domain as an option to aq map_service"
I have two instances of the same service, both have the same personality and are in the same archetype and (virtual) rack and network, the only significant difference is the DNS domain name - is it possible to add DNS domain as an option to aq map_service?

[2019-07-26 21:34] ned21 commented on #130
Hi

We have considered this a few times and the conclusion was that it was difficult to implement without hardcoding assumptions about the meaning of DNS domain names. The service chooser is a Direct Acyclic Graph and so new attributes need to be given a precedence in that graph. For example, we previously used geographic ones (building1.example.com, building2.example.com) but we now have a new en

[2019-09-14 17:37] ned21 commented on #44
Confirmation this needs to be completed by the end of the year: https://www.python.org/doc/sunset-python-2/

[2019-11-08 20:00] ned21 commented on #55
Adding an `ENV KRB5CCNAME` line to Dockerfile gets me a bit further:

[code]

Inside the container I get a different error:
[code]

[2021-09-09 09:37] bmcann opened #131 "Postgresql database upgrade scripts for 1.15.0 err with syntax errors"
The application of `upgrade/1.15.0/30_hostlinks_parents.psql` in the event of a database upgrade to aquilon 1.15.0 and the application of `upgrade/1.15.0/70_hostlinks_parents.psql.backout` in the event of a database downgrade from aquilon 1.15.0 both fail due to incorrect postgresql syntax.

I will submit a PR with the corrected syntax shortly.

[2021-09-09 10:12] bmcann commented on #131
Pull request #132 submitted with psql code corrections.

[2021-09-10 11:22] bmcann opened #133 "Broker systemd unit file is broken"
The systemd unit file for the broker, `etc/systemd/aquilon-broker.service` in the git repo, is broken by the double-quotation character at the end of the `ExecStart` line as systemd objects to this.

I will submit a PR with the correction shortly.

[2021-09-10 11:32] bmcann commented on #133
This issue is addressed by PR #134

[2021-09-20 12:42] #130 closed, assigned to nobody